<div class="block">
    <div class="block-header border-b bg-primary-dark text-white">
        <h3 class="block-title">
            {% if personality_detail.title == 'Complement' %}
                <i class="fa fa-thumbs-o-up"></i> What brightens your day
            {% elif personality_detail.title == 'Conflict' %}
                <i class="fa fa-thumbs-o-down"></i>  What clouds your day
            {% else %}
                {{ personality_detail.title }}
            {% endif %}
        </h3>
    </div>
    <div class="block-content block-content-full text-center">
        <div class="text-left">{{ personality_detail.body }}</div>
    </div>
</div>