{% load social_share %}


<div class="block">
  <div id="userprofile_bg" data-toggle="tooltip" data-placement="top" title="Click to upload background image"
      {% if user.profile.profile_image_bg %}
       class="block-content block-content-full text-center bg-image"
       style="background-image: url('{{ user.profile.profile_image_bg.url }}');"
      {% elif user.profile.bg_url %}
       class="block-content block-content-full text-center bg-image"
       style="background-image: url('{{ user.profile.bg_url }}');"
      {% else %}
       class="block-content block-content-full text-center bg-primary-dark"
      {% endif %}>
    <img id="userprofile_image" data-toggle="tooltip" data-placement="left" title="Click to upload profile image"
         class="img-avatar img-avatar96 img-avatar-thumb"
         src="
             {% if user.profile.profile_image %}{{ user.profile.profile_image.url }}{% else %}/static/img/avatars/avatar4.jpg{% endif %}"
         alt="">
  </div>
  <div class="block-content block-content-full text-center">
    <div class="font-w600 push-5">{{ user.first_name }} {{ user.last_name }}</div>
    <div>
      Share via
      {% with user.id|stringformat:"s" as user_id %}
        {% with "http://xxx.com/profile_v2/?user-profile="|add:user_id as url %}
          {% post_to_facebook url "Post to Facebook!" %}
          {% post_to_twitter "I'm looking for roommates! Login at {{ property.name }} and search for me using code: {{ user.id }}. Thanks! " url "Post to Twitter" %}
          {% post_to_gplus url "Post to Google+!" %}
        {% endwith %}
      {% endwith %}
    </div>
    <div class="profile-details-block">
      <div class="font-w600 push-5">Contract Details</div>

      <p class="profile-details">Unit Type: {{ invite.unit_type.name }}</p>
      {% if can_select_unit and is_user_stage and is_leader %}
        <a data-toggle="modal" data-target="#select-unit-bed-modal">
          <p class="profile-details">Unit:
            {% if assignment and assignment.unit %}
              <span class="user-unit">{{ assignment.unit.name }}</span>
              {% if assignment.room %}
                <p class="profile-details">Room: <span class="user-room">{{ assignment.room.name }}</span></p>
              {% endif %}
              {% if assignment.bed %}
                <p class="profile-details">Bed: <span class="user-bed">{{ assignment.bed.name }}</span></p>
              {% endif %}
            {% else %}
              Select unit and bed
            {% endif %}
          </p>
        </a>
      {% else %}
        {% if assignment and assignment.unit %}
          <p class="profile-details">
            Unit: <span class="user-unit">{{ assignment.unit.name }} </span>
            {% if assignment.room %}
              Room: <span class="user-room">{{ assignment.room.name }} </span>
              {% if assignment.bed %}
                Bed: <span class="user-bed">{{ assignment.bed.name }}</span>
              {% endif %}
            {% endif %}
          </p>
        {% endif %}
      {% endif %}

      {% if invite.contract_type %}
        <p class="profile-details">Contract Type: {{ invite.contract_type.name }}</p>
      {% endif %}
      {% if user.gender != 'U' %}
        <p class="profile-details">Gender: {{ user.get_gender_display }}</p>
      {% endif %}
      <p class="profile-details">Your Permissions: {{ user.stage.label }}</p>
      <p class="profile-details">Current Property Stage: {{ current_stage }}</p>
      {% if property.file %}
        <p class="profile-details"><a href="{{ property.file.url }}" target="_blank">Resources</a></p>
      {% endif %}
    </div>
    <div class="text-muted">{{ user.profile.get_personality_types_json.personality_blend.name }}</div>
    <div class="text-left">{{ user.profile.get_personality_types_json.personality_blend.description }}</div>
    <div class="block-content">
      <div class="row items-push text-center">
        {% for attribute in user.profile.get_personality_types_json.personality_types|slice:"6" %}
          <div class="col-xs-6 {% if not forloop.counter|divisibleby:"2" %}border-r{% endif %}"
               data-placement="left"
               data-content="{{ attribute.personality_type.description }}"
               data-toggle="popover"
               title="{{ attribute.personality_type.name }}">
            <div class="push-5">{{ attribute.personality_type.name }}</div>
            <div class="h5 font-w300 text-muted">{{ attribute.score | floatformat:"2" }}%</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block-header border-b bg-primary-dark text-white">
    <ul class="block-options">
      <li>
        <a data-toggle="modal" data-target="#bio-modal" class="text-white" style="cursor: pointer;">edit</a>
      </li>
    </ul>
    <h3 class="block-title">About Me</h3>
  </div>

  <div class="block-content block-content-full text-center">
    <div id="user_bio" class="text-left">
      {% if user.profile.bio %}{{ user.profile.bio }}{% else %}No bio set{% endif %}</div>
  </div>
</div>

<div class="block">
  <div class="block-header border-b bg-primary-dark text-white">
    <h3 class="block-title">Personality</h3>
  </div>
  {% if user.profile.personality %}
    <div class="block-content block-content-full text-center">
      <div class="block-content">
        <div class="row items-push text-center">
          {% for item1, item2 in user.profile.personality %}
            <div class="col-xs-12">
              <table class="custom-table">
                <colgroup>
                  <col>
                  <col>
                </colgroup>
                <thead>
                <tr>
                  <th class="text-center font-w400 border-r">
                    <div class="push-5">{{ item1.0 }}</div>
                  </th>
                  <th class="text-center font-w400">
                    <div class="push-5">{{ item2.0 }}</div>
                  </th>
                </tr>
                </thead>
                <thead>
                <tr>
                  <td class="h5 font-w300 text-muted border-r">{{ item1.1 }}</td>
                  <td class="h5 font-w300 text-muted">{{ item2.1 }}</td>
                </tr>
                </thead>
              </table>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="block-content block-content-full text-center">
      <div class="text-left">No personality attributes set</div>
    </div>
  {% endif %}
</div>

<div style="display: none;" class="modal" id="bio-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">About Me</h3>
        </div>
        <div class="block-content">
          <form id="bio_form" method="post">
            {% csrf_token %}
            {{ form }}
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
        <button id="bio_form_submit" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check"></i> Ok
        </button>
      </div>
    </div>
  </div>
</div>


<div id="select-unit-bed-modal" class="modal fade" tabindex="-1" aria-hidden="true" role="dialog">
  <div class="modal-large modal-dialog modal-dialog-popin">
    <div class="modal-content">
      <div class="block block-themed block-transparent">
        <div class="block-header bg-primary-light">
          <ul class="block-options">
            <li>
              <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
            </li>
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Please select a bed</h3>
        </div>
        <div class="block-content">
          <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
              Based on your group preferences we're showing units with room for you and
              <input id="select-group-size" type="number" name="group-size" placeholder="Group size"> others
            </div>
          </div>
          {% if form %}
            <form id="select-unit-bed-form" method="post">
              {% csrf_token %}

              <div class="block spinner-holder hide">
                <div class="block-content block-content-full text-center">
                  <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
              </div>

              <div class="unit-bed-content">
                <div class="header-row row">
                  <div class="col-sm-4">
                    <h4 class="block-title">Unit</h4>
                  </div>
                  <div class="col-sm-8">
                    <h4 class="block-title">Unit <span id="unit-id"></span> Details</h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="block">
                      <select id="units-select" name="unit" class="form-control col-sm-4"></select>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="center">
                      <a class="font-w600" href="javascript:void(0)">View Image</a>
                    </div>
                  </div>
                </div>
                <div class="header-row row">
                  <div class="block-title">Beds List</div>
                </div>
                <div id="beds-select" class="row"></div>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        {% if form %}
          <button id="select-unit-bed-submit" class="btn btn-info">Save</button>
        {% endif %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>