<div {{ attrs }} class="filter" name="{{ name }}">
    <ul class="list-unstyled">
    {% for choice in choices %}
        <li><a class="link-effect filter-option" value="{{ choice.0 }}">{{ choice.1 }}</a></li>
    {% endfor %}
    </ul>
</div>