{% extends "errors/error_base.html" %}


{% block content %}
    <div class="content bg-white text-center pulldown overflow-hidden">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="font-s128 font-w300 text-flat animated bounceIn">403</h1>
                <h2 class="h3 font-w300 push-50 animated fadeInUp">CSRF verification failed. Request aborted.</h2>
                <h2 class="h3 font-w300 push-50 animated fadeInUp">You are seeing this message because this site
                    requires a
                    CSRF cookie when submitting forms. This cookie
                    is required for security reasons, to ensure that your browser is not being hijacked by third
                    parties.</h2>
                <h2 class="h3 font-w300 push-50 animated fadeInUp">If you have configured your browser to disable
                    cookies,
                    please re-enable them, at least for this site,
                    or for 'same-origin' requests.</h2>
            </div>
        </div>
    </div>
    <div class="content pulldown text-muted text-center">
        <a class="link-effect" href="{% url 'code_index' %}">Go
            Back to Login Page</a>
    </div>
{% endblock %}