{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Room Choice | Roommate Matching Software</title>

        <meta name="description" content="Room Choice - Roommate Matching Software - Admin Dashboard created by Room Choice">
        <meta name="author" content="roomchoice.com">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">

        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicons/favicon-96x96.png">

        <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="/static/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" type="image/png" sizes="60x60" href="/static/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/static/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/static/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/static/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/static/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/static/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/static/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/static/img/favicons/apple-icon-180x180.png">

        <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/favicons/android-icon-192x192.png">
        <link rel="manifest" href="/static/img/favicons/manifest.json">

        <meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" id="css-main" href="/static/css/oneui.min.css">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
