{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block title %}{% trans 'Copy Habit Questions' %} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/management/">{% trans 'Management' %}</a>
&rsaquo; <a href="/admin/management/organizationsocialhabitquestion">{% trans 'Organization social habit questions ' %}</a>

&rsaquo; {% trans 'Copy Habit Questions' %}
</div>
{% endblock %}
{% endif %}


{% block content %}
	<h1>{% trans 'Copy Habit Questions from one Organization to another' %}</h1>
  <div id="content-main">
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      <form id="copyhabit-form" action="" method="post" >
			{% csrf_token %}
			{% if errors %}
					<div class="form-group row has-error">
						<p class="errornote"> &nbsp; &nbsp;  {{errors}}</p>				
					</div>
			{% endif %}
			
			<fieldset class="module aligned ">
				<div class="form-row field-organization">
					<div>
						<label for="id_organization_from" class="required">Organization From:</label>
						<div class="related-widget-wrapper">
							<select name="organization_from" id="id_organization_from">
								<option selected="selected" value="">---------</option>
								{% for i in organization %}
									<option value="{{i.id}}">{{i}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="form-row field-organization">
					<div>
						<label for="id_organization_to" class="required">Organization To:</label>
						<div class="related-widget-wrapper">
							<select name="organization_to" id="id_organization_to">
								<option selected="selected" value="">---------</option>
								{% for i in organization %}
									<option value="{{i.id}}">{{i}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="submit-row">
				<input type="submit" name="_save" class="default" value="Save">
			</div>
      </form>
    </div>

  </div>
{% endblock %}
