<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <div class="row items-push">
                <div class="col-sm-7">
                    <h1 class="page-heading">
                        {{ title }}
                    </h1>
                </div>
                <div class="col-sm-5 text-right hidden-xs">
                    <ol class="breadcrumb push-10-t">
                        <li>Home</li>
                        {% for breadcrumb in breadcrumbs %}
                            <li>
                                {% if breadcrumb.url %}
                                    <a class="link-effect" href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                                {% else %}
                                    {{ breadcrumb.name }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>