{% extends "base.html" %}
{% load staticfiles %}
{% load management_extras %}
{% block base_classes %} sidebar-l sidebar-o header-navbar-fixed{% endblock base_classes %}
{% block header %}
    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Scroll Container -->
        <div id="sidebar-scroll">
            <!-- Sidebar Content -->
            <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
            <div class="sidebar-content">
                <!-- Side Header -->
                <div class="side-header side-content bg-white-op">
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button"
                            data-toggle="layout" data-action="sidebar_close">
                        <i class="fa fa-times"></i>
                    </button>
                    <a class="h5 text-white" href="{% url "management:main" %}">
                        <img src="{% static "img/RoomChoiceLogoMark.png" %}" height="16px">
                        <img class="sidebar-mini-hide" src="{% static "img/RoomChoiceLogo.png" %}" height="16px">
                    </a>
                </div>
                <!-- END Side Header -->

                <!-- Side Content -->
                <div class="side-content">

                    <ul class="nav-main">
                        {#                                <li>#}
                        {#                                    <a class="active" href="index.html"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>#}
                        {#                                </li>#}
                        {#                                <li class="nav-main-heading"><span class="sidebar-mini-hide">User Interface</span></li>#}

                        <li class="open">
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-grid"></i><span
                                    class="sidebar-mini-hide">Properties ({{ properties|length }})</span></a>
                            <ul>

                                {% for prop in properties %}
                                    {% url 'management:user-list' prop.id as users_url %}
                                    {% url 'management:invitation-list' prop.id as invitations_url %}
                                    {% url 'management:placement_details' prop.id as placements_url %}
                                    {% url 'management:suggested-roommates-list' prop.id as suggested_roommates_url %}
                                    {% url 'management:match-list' prop.id as matches_url %}
                                    {% url 'management:feed' prop.id as feed_url %}
                                    {% url 'management:stages' prop.id as stages_url %}
                                    {% url 'management:mail-template-list' prop.id as mail_templates_url %}
                                    {% url 'management:resident-import-list' prop.id as resident_import_url %}
                                    {% url 'management:org-questions-list' prop.id as questions_url %}
                                    {% url 'management:unit-type-list' prop.id as unit_type_url %}
                                    {% url 'management:room-type-list' prop.id as room_type_url %}
                                    {% url 'management:social-networks-list' prop.id as social_networks_url %}
                                    {% url 'management:realty-import-list' prop.id as realty_import_url %}
                                    {% url 'management:dashboard' prop.id as dashboard_url %}
                                    {% url 'management:property_settings' prop.id as property_settings_url %}
                                    <li {% if prop.id == property.id %} class="open" {% endif %}>
                                        <a class="nav-submenu {% if prop.id == property.id %}active{% endif %}"
                                           data-toggle="nav-submenu" href="#">{{ prop.name }}</a>
                                        <ul>
                                            <li>
                                                <a class="{% active request dashboard_url %}"
                                                    href="{{ dashboard_url }}">Dashboard</a>
                                            </li>
                                            <li class="{% open request users_url invitations_url %}">
                                                <a class="nav-submenu" data-toggle="nav-submenu" href="#">Tenants</a>
                                                <ul>
                                                    <li>
                                                        <a class="{% active request users_url %}"
                                                           href="{{ users_url }}">Overview</a>
                                                    </li>
                                                    <li>
                                                        <a class="{% active request invitations_url %}"
                                                           href="{{ invitations_url }}">Invitations</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if prop.show_placement_tab %}
                                            <li>
                                                <a class="{% active request placements_url %}"
                                                    href="{{ placements_url }}">Placement</a>
                                            </li>
                                            {% endif %}
                                            <li class="{% open request suggested_roommates_url matches_url %}">
                                                <a class="nav-submenu" data-toggle="nav-submenu" href="#">Reports</a>
                                                <ul>
                                                    <li>
                                                        <a class="{% active request suggested_roommates_url %}"
                                                           href="{{ suggested_roommates_url }}">Suggested
                                                            Roommates Report</a></li>
                                                    <li>
                                                        <a class="{% active request matches_url %}"
                                                           href="{{ matches_url }}">Matches</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="{% active request feed_url %}"
                                                   href="{{ feed_url }}">Activity Feed</a>
                                            </li>
                                            <li class="{% open request stages_url mail_templates_url resident_import_url questions_url unit_type_url room_type_url realty_import_url property_settings_url  %}">
                                                <a class="nav-submenu" data-toggle="nav-submenu" href="#">Settings</a>
                                                <ul>
                                                    <li>
                                                        <a class="{% active request stages_url %}"
                                                           href="{{ stages_url }}">Property Stages</a>
                                                    </li>
                                                    <li>
                                                        <a class="{% active request mail_templates_url %}"
                                                           href="{{ mail_templates_url }}">Email Templates</a>
                                                    </li>
                        
                                                        <a class="{% active request questions_url %}"
                                                           href="{{ questions_url }}">Profile Questions</a>
                                                    </li>
                                                    <li>
                                                        <a class="{% active request unit_type_url %}"
                                                           href="{{ unit_type_url }}">Unit Type</a>
                                                    </li>
                                                    <li>
                                                        <a class="{% active request room_type_url %}"
                                                           href="{{ room_type_url }}">Room Type</a>
                                                    </li>     
                                                    <li>
                                                        <a class="{% active request social_networks_url  %}"
                                                           href="{{ social_networks_url }}">Social Networks</a>
                                                    </li>
                                                    <li>
                                                        <a class="{% active request realty_import_url %}"
                                                           href="{{ realty_import_url }}">Realty Import</a>
                                                    </li>
                                                    <li>
                                                        <a class="{% active request resident_import_url %}"
                                                           href="{{ resident_import_url }}">Resident Import</a>
                                                    </li>
                                                    <li>
                                                    <li>
                                                        <a class="{% active request property_settings_url %}"
                                                           href="{{ property_settings_url }}">Property Settings</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- END Side Content -->
            </div>
            <!-- Sidebar Content -->
        </div>
        <!-- END Sidebar Scroll Container -->
    </nav>
    <!-- END Sidebar -->

    <!-- Header -->
    <header id="header-navbar" class="content-mini content-mini-full">
        <!-- Header Navigation Right -->
        <ul class="nav-header pull-right">
            <li>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        <span>{{ user.email }}</span>
                        {#                                {% with user.profile.profile_image as user_image %}#}
                        {#                                    <img src="{% if user_image %}{{ user_image.url }}{% else %}lala{% endif %}" alt="Avatar">#}
                        {#                                {% endwith %}#}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Profile</li>
                        <li>
                            <a tabindex="-1" href="{% url "management:logout" %}">
                                <i class="si si-logout pull-right"></i>Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- END Header Navigation Right -->

        <!-- Header Navigation Left -->
        <ul class="nav-header pull-left">
            <li class="hidden-md hidden-lg">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                    <i class="fa fa-navicon"></i>
                </button>
            </li>
            <li class="hidden-xs hidden-sm">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
            </li>
            <li class="js-header-search header-search">
                <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                    <input class="form-control" id="global-search"
                           placeholder="Search.." type="text">
                    <span class="input-group-addon"><a href="javascript:void(0)" id="search-btn"><i class="si si-magnifier"></i></a></span>
                </div>
            </li>
        </ul>
        <!-- END Header Navigation Left -->
    </header>
    <!-- END Header -->
{% endblock header %}

{% block extra_js %}
    <script src="{% static 'js/custom-scripts/search_init.js' %}"></script>
{% endblock %}

