{% extends "management/manager_base.html" %}

{% load static %}

{% block content %}
    <main id="main-container">
        <div class="row push-50-t">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="agreement-period-select">Agreement Period</label>
                    <div class="col-md-6">
                        <select class="form-control" id="agreement-period-select"
                                name="agreement-period-select">
                            {% for period in periods %}
                                <option value="{{ period.id }}">{{ period.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row push-50-t">
            <div class=" col-md-offset-1 col-md-4 text-center">
                <h3>Invited Tenants</h3>
                <canvas id="students-chart"></canvas>
                <h4>Total students: <span id="total-students"></span></h4>
            </div>
            <div class=" col-md-offset-1 col-md-4 text-center">
                <h3>Placement</h3>
                <canvas id="placements-chart"></canvas>
                <h4>Total beds: <span id="total-beds"></span></h4>
            </div>
        </div>
        <div class="row push-50-t">
            <div class=" col-md-offset-1 col-md-4 text-center">
                <h3>Stages</h3>
                <canvas id="stages-chart"></canvas>
            </div>
            <div class=" col-md-offset-1 col-md-4 text-center">
                <div class="push-50-t">
                    <h3 class>Real Estate</h3>
                    <h4 class="push-15-t"># of Units: <span id="num-of-units"></span></h4>
                    <h4 class="push-15-t"># of Rooms: <span id="num-of-rooms"></span></h4>
                    <h4 class="push-15-t"># of Beds: <span id="num-of-beds"></span></h4>
                </div>
            </div>
        </div>


    </main>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/chartjsv2/Chart.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/management-dashboard.js' %}"></script>
    <script>
        initCharts('{% url "management:dashboard-charts" property_id=property.id %}');
    </script>
{% endblock %}