{% extends "base.html" %}
{% block content %}
    <main id="main-container">
        <!-- Hero Content -->
        {#                <div class="bg-primary-dark">#}
        {#                    <section class="content content-full content-boxed">#}
        {#                        <!-- Section Content -->#}
        {#                        <div class="push-100-t push-50 text-center">#}
        {#                            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Welcome to Roommate Matching</h1>#}
        {#                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Complete your profile and search for roommates.</h2>#}
        {#                        </div>#}
        {#                        <!-- END Section Content -->#}
        {#                    </section>#}
        {#                </div>#}
        <!-- END Hero Content -->

        <!-- Call to action -->
        <div class="bg-white">
        <section class="content content-full content-boxed">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="push-30-t push-50 animated fadeIn">
                        <div class="text-center">
                            <img src="/static/img/favicons/ms-icon-70x70.png">
{#                            <i class="fa fa-2x fa-circle-o-notch text-primary"></i>#}
{#                            <p class="text-muted push-15-t">Roommate Matching Software. Add Your Invite Code to Continue</p>#}
                        </div>
                    <div class="block-content">
                        {% if form.non_field_errors %}
                            <div class="col-xs-12">
                                <!-- TODO: Remove class 'hidden' on 'alert' block to show it -->
                                <div class="alert alert-danger alert-dismissable ">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h3 class="font-w300 push-15">Error</h3>
                                    {% for error in form.non_field_errors %}
                                    <p>
                                        {{ error }}
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <form class="js-validation-login form-horizontal push-30-t" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material floating">
                                        <input class="form-control" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} type="text" id="{{form.username.id_for_label}}" name="{{form.username.html_name}}">
                                        <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material floating">
                                        <input class="form-control" type="password" id="{{form.password.id_for_label}}"
                                               name="{{form.password.html_name}}">
                                        <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-sm btn-primary" type="submit"><i
                                            class="fa fa-arrow-right push-5-r"></i> Log in
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </main>
    {#            <script type="text/javascript">#}
    {#                FS.identify('{{ user.email }}', {#}
    {#                    displayName: '{{ user.first_name }} {{ user.last_name }}',#}
    {#                    email: '{{ user.email }}'#}
    {#                });#}
    {#            </script>#}
{% endblock %}
