{% extends "management/manager_base.html" %}
{% load staticfiles %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Select Assignment Period' %}
         <div class="block">
            <div class="block-content">
                <ul class="list-unstyled">
                    {% for period in periods %}
                        <li><h3><a class="link-effect" href="{% url 'management:placement_details' property.id period.id %}">{{ period.name }}</a></h3></li>
                    {% endfor %}
                </ul>
            </div>
         </div>
    </main>
{% endblock %}