{% extends "management/manager_base.html" %}
{% load management_extras %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Email Templates' %}
        <div class="block">
            <div class="block-header">
                <a href="{% url 'management:mail-template-add' property.id %}" class="btn btn-info btn-lg"
                   style="float: right;">
                    Add New Email Template
                </a>
            </div>
            <div class="block-content">
                <div id="email-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('email-table').DataTable().page('previous').draw('page');"><i
                                        class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#email-table').DataTable().page('next').draw('page');"><i
                                        class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#email-table').DataTable().draw('page');"><i
                                        class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="email-table_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table aria-describedby="email-table_info" role="grid" id="email-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="invitation-table" tabindex="0"
                                                class="sorting">Email Templates
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending" colspan="1"
                                                rowspan="1"
                                                aria-controls="email-table" tabindex="0" class="hidden-xs"
                                            >Delete?
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/email-table.js' %}?v=0002"></script>
    <script>
        changeStyles();
        initEmailTable('{% url 'management:mail-template-list' property.id %}', {{ property.id }});
    </script>
{% endblock %}
