{% extends "management/manager_base.html" %}

{% block content %}
    <main id="main-container">
    {% include 'management/breadcrumbs.html' %}
        <div class="block">
            <div class="block-content row">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {% for field in form %}
                        <div class="form-group row {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label col-lg-1 col-md-1">{{ field.label }}</label>
                            <div class="col-lg-5 col-md-5">
                                {{ field }}
                                {{ field.help_text }}
                                {% if field.errors %}
                                    <span class="help-block">
                                        {{ field.help_text }}
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <input class="btn btn-info btn-lg" type="submit" value="{{ submit }}"/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}