{% extends "management/manager_base.html" %}
{% load management_extras %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title="Unit Types" %}
        <div class="block">
            <div class="block-header">
                <a href="{% url 'management:unit-type-add' property.id %}" class="btn btn-info btn-lg"
                   style="float: right;">
                    Add new Unit Type
                </a>
            </div>
            <div class="block-content">
                <div id="unit-type-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button aria-expanded="false" type="button"
                                        onclick="location.href=window.location.href+'?format=csv'"><i
                                        class="si si-cloud-download"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#unit-type-table').DataTable().page('previous').draw('page');"><i
                                        class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#unit-type-table').DataTable().page('next').draw('page');"><i
                                        class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#unit-type-table').DataTable().draw('page');"><i
                                        class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="DataTables_Table_1_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table aria-describedby="unit-type-table_info" role="grid" id="unit-type-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="unit-type-table" tabindex="0"
                                                class="sorting">Name
                                            </th>
                                            <th aria-label="Email: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="unit-type-table" tabindex="0"
                                                class="sorting">Max Occupancy
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/unit-type-table.js' %}?v=0001"></script>
    <script>
        changeStyles();
        initUnitTypeTable('{% url 'management:unit-type-list' property.id %}', '/management/unit_type/{{ property.id }}/');
    </script>
{% endblock %}