{% extends "management/manager_base.html" %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Properties' %}
        <div class="block">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button"><i class="si si-settings"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Property name</h3>
                        </div>
                        <div class="block-content">
                            <p>{{ property.name }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a
                                        href="{% url 'management:invitation-list' property.id %}">Invitations</a>
                                </li>
                                <li class="list-group-item"><a
                                        href="{% url 'management:user-list' property.id %}">Users</a>
                                </li>
                                <li class="list-group-item"><a
                                        href="{% url 'management:match-list' property.id %}">Matches</a></li>
                                <li class="list-group-item"><a href="{% url 'management:unit-type-list' property.id %}">Unit
                                    Types</a></li>
                                <li class="list-group-item"><a href="{% url 'management:room-type-list' property.id %}">Room
                                    Types</a></li>
                                <li class="list-group-item"><a
                                        href="{% url 'management:org-questions-list' property.id %}">Social
                                    Habit Questions</a></li>
                                <li class="list-group-item"><a
                                        href="{% url 'management:suggested-roommates-list' property.id %}">Suggested
                                    Roommates Report</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}