{% extends "management/manager_base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Placements' %}
        <div class="block">
            <div class="block-header">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="agreement-period-select">Agreement Period</label>
                            <div class="col-md-6">
                                <select class="form-control" id="agreement-period-select"
                                        name="agreement-period-select">
                                    {% for period in periods %}
                                        <option value="{{ period.id }}">{{ period.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'management:unit_create' property.id %}"
                           class="btn btn-info btn-lg float-right">
                            Add new Unit
                        </a>
                    </div>
                </div>
            </div>
            <div class="block-content">
                <div id="placement-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#placement-table').DataTable().page('previous').draw('page');"><i
                                        class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#placement-table').DataTable().page('next').draw('page');"><i
                                        class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#placement-table').DataTable().draw('page');"><i
                                        class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="DataTables_Table_1_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table aria-describedby="placement-table_info" role="grid" id="placement-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th colspan="1" rowspan="1" aria-controls="placement-table" tabindex="0"
                                                class="sorting">Unit
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="placement-table" tabindex="0"
                                                class="sorting">Unit Type
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="placement-table" tabindex="0">
                                                Beds
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="bed-status-modal" role="dialog">
        <div class="modal-dialog modal-dialog-popout">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body text-center">
                    <div class="row items-push user-doesnt-assigned">
                        <div class="col-lg-12">
                            <select id="user-select"></select>
                        </div>
                        <div class="col-lg-12 text-left push-15-t">
                            <label class="css-input switch switch-info">
                                <input id="with-beds-checkbox" type="checkbox"><span></span> Show users with beds
                            </label>
                        </div>
                        <div class="col-lg-12 text-left push-15-t">
                            <label class="css-input switch switch-info">
                                <input id="with-groups-checkbox" type="checkbox"><span></span> Place user with group
                            </label>
                        </div>
                        <div class="col-lg-12 push-15-t">
                            <button id="add-to-bedspace-button" class="btn btn-success">Submit!</button>
                        </div>
                    </div>

                    <div class="user-assigned">
                        <h3></h3>
                        <button id="delete-button" class="btn btn-danger">Remove!</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/placement-table.js' %}?v=0007"></script>
    <script>
        changeStyles();
        initPlacementTable("{{ property.id }}");
    </script>
{% endblock %}

