{% extends "management/manager_base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <style>
        .empty-form {
            display: none;
        }
    </style>
{% endblock %}


{% block content %}


    {% with outer_formset=form %}

        <main id="main-container">
            {% include 'management/breadcrumbs.html' %}
            <div class="block">
                <div class="block-content">
                    <div class="col-lg-4 text-center"><h3>Unit</h3></div>
                    <div class="col-lg-4 text-center"><h3>Rooms</h3></div>
                    <div class="col-lg-4 text-center"><h3>Beds</h3></div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ outer_formset.management_form }}
                        <div class="row">
                            <div class="col-lg-4">
                                {% include "management/manager_form.html" with form=unit_form field_size=12 label_size=3 %}
                            </div>

                            <div class="col-lg-8 push-b-20">
                                <div>
                                    <div class="empty-form room-form row bg-gray-light"
                                         id="{{ outer_formset.empty_form.prefix }}">
                                        <div class="col-lg-6">
                                            {{ outer_formset.empty_form.as_p }}
                                        </div>
                                        <div class="row col-lg-6 bed-forms">
                                            {{ outer_formset.empty_form.nested.management_form }}
                                            <div class="empty-form col-lg-12">
                                                {{ outer_formset.empty_form.nested.empty_form.as_p }}
                                            </div>
                                        </div>
                                    </div>
                                    {% for outer_form in outer_formset %}
                                        <div class="room-form row bg-gray-light" {% if outer_formset.non_form_errors %}{% endif %}
                                             id="{{ outer_form.prefix }}">
                                        <div class="help-block unformated-list error-label">{{ outer_formset.non_form_errors }}</div>
                                        {{ outer_form.nested.management_form }}
                                            <div class="col-lg-6">
                                                {{ outer_form.as_p }}
                                            </div>
                                            <div class="row col-lg-6 bed-forms">
                                            {{ outer_form.empty_form.nested.management_form }}
                                            <div class="empty-form col-lg-12">
                                                {{ outer_formset.empty_form.nested.empty_form.as_p }}
                                            </div>
                                                {% for inner_form in outer_form.nested %}
                                                    <div class="col-lg-12 {% if outer_form.nested.non_form_errors %}has-error{% endif %}">
                                                        {{ inner_form.as_p }}
                                                    </div>
                                                {% endfor %}
                                                <div class="help-block unformated-list error-label">{{ outer_form.nested.non_form_errors }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <input type="submit" class="btn btn-info btn-lg float-right push-100-r"
                                   value="{{ submit }}"/>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    {% endwith %}

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/django-nested-formsets/django-formset.js' %}"></script>
    <script src="{% static 'js/custom-scripts/unit-create-form.js' %}?v=001"></script>
    <script>
        initUnitFormsets('{{ property.id }}');
    </script>
{% endblock %}