{% extends "management/manager_base.html" %}
{% load management_extras %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Tenants Overview' %}
        <div class="block">
            <div class="block-header">
                <a href="{% url 'management:user-add' property.id %}" class="btn btn-info btn-lg" style="float: right;">
                    Add new User
                </a>
            </div>
            <div class="block-content">
                <div id="user-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button aria-expanded="false" type="button" onclick="location.href=window.location.href+'?format=csv'"><i class="si si-cloud-download"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" onclick="$('#user-table').DataTable().page('previous').draw('page');"><i class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" onclick="$('#user-table').DataTable().page('next').draw('page');"><i class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" onclick="$('#user-table').DataTable().draw('page');"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="DataTables_Table_1_wrapper">
                            <div class="row">
                                <div class="col-xs-11">
                                    <div class="table-responsive">
                                    <table aria-describedby="user-table_info" role="grid" id="user-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th class="table-checkbox text-center" aria-controls="user-table">
                                                <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b">
                                                    <input id="check-all" name="check-all" type="checkbox"><span></span>
                                                </label>
                                            </th>
                                            <th aria-label="Name: activate to sort column ascending"
                                                 aria-controls="user-table"
                                                class="sorting">Email
                                            </th>
                                            <th aria-label="Email: activate to sort column ascending"
                                                 aria-controls="user-table"
                                                class="hidden-xs sorting">First Name
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table" class="hidden-xs sorting"
                                            >Last Name
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table"  class="hidden-xs sorting"
                                            >Last Login
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table"  class="hidden-xs"
                                            >Unit
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table"  class="hidden-xs"
                                            >Room
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table"  class="hidden-xs"
                                            >Bed
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table"
                                                class="hidden-xs send-reminder-email-th"
                                            >Send Reminder Email
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table"
                                                class="hidden-xs resend-invite-th"
                                            >Send Invitation
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending"
                                                aria-controls="user-table" class="hidden-xs delete-user-th"
                                            >Delete?
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                        </div>
                                </div>
                                <div class="col-xs-1">
                                    <h3 class="block-title push-30">Filters</h3>
                                    {{ filters.form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <form id="actions-form" hidden class="form-inline push-20-l" method="post" onsubmit="return false;">
        <div class="form-group">
            <select class="form-control" id="actions-select" size="1">
                <option value="">------</option>
                {% for action in actions %}
                    <option value="{{ forloop.counter0 }}">{{ action.0 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button id="actions-form-submit" class="btn btn-default" type="submit">Go</button>
        </div>
        <div class="form-group">
            <a id="selected-label" class="label-link link-effect push-20-l" style="margin-bottom: 0;"></a>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/user-table.js' %}?v=0010"></script>
    <script>
        changeStyles();
        initUserTable('{% url 'management:user-list' property.id %}', '/management/user/{{ property.id }}/', {{ property.id }});
    </script>
{% endblock %}
