{% extends "management/manager_base.html" %}

{% load staticfiles %}

{% block content %}
    <main id="main-container">
    {% include 'management/breadcrumbs.html' %}
        <div class="block">
            <div class="block-content row">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group row {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}"
                                   class="control-label col-lg-1 col-md-1">{{ field.label }}</label>
                            <div class="col-lg-5 col-md-5">
                                {{ field }}
                                {{ field.help_text }}
                                {% if field.errors %}
                                    <span class="help-block">
                                        {{ field.help_text }}
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="block">
                        <h3>Social Habits Answers</h3>
                        {{ answers_formset.management_form }}
                        <table class="table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                {% for field in answers_formset.empty_form.visible_fields %}
                                    <th>{{ field.label }}</th>
                                {% endfor %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="form_set">
                                {% for answer_form in answers_formset.forms %}
                                <tr>
                                    {% for field in answer_form.visible_fields %}
                                        <td>
                                            {{ field }}
                                            {% if field.errors %}
                                                <span class="help-block">
                                        {{ field.help_text }}
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                                </span>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    {% for hidden_field in answer_form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                        <a href="#" id="add_more"><span class="glyphicon glyphicon-plus"></span>Add another answer</a>
                    </div>

                    <div id="empty_form" style="display:none">
                    <table>
                        <tr>
                            {% for field in answers_formset.empty_form.visible_fields %}
                                <td>
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-block">
                                        {{ field.help_text }}
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            {% for hidden_field in answers_formset.empty_form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                <td>
                                            <a class="delete" href="#"><i class="si si-close fa-1x"></i></a>
                                        </td>
                        </tr>
                    </table>
                    </div>
                    <input class="btn btn-info btn-lg" type="submit" value="{{ submit }}"/>
                    {% if form.instance.id %}
                        <button id="delete-btn" class="btn btn-danger btn-lg push-20-l" type="button" url="{% url 'management:org-question-delete' property.id form.instance.id %}">Delete</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/custom-scripts/org-question-form.js' %}"></script>
{% endblock %}
