{% load extras %}


{% for field in form %}
    <div class="form-group row {% if field.errors %}has-error{% endif %}">
        {% if field.field.widget|get_class_name != "HiddenInput" %}
        <label for="{{ field.id_for_label }}"
               class="control-label col-md-{{ label_size }}">{{ field.label }}</label>
        {% endif %}
        <div class="col-md-{{ field_size }}">
            {% if field.field.widget|get_class_name == "CheckboxInput" %}
                <label for="{{ field.id_for_label }}"
                       class="css-input switch switch-sm switch-primary">
                    {{ field }}<span></span>
                </label>
            {% else %}
                {{ field }}
                {{ field.help_text }}
                {% if field.errors %}
                    <span class="help-block">
                        {{ field.help_text }}
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </span>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}