{% extends "management/manager_base.html" %}
{% load management_extras %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Matches' %}
        <div class="block">
            <div class="block-content">
                <div id="match-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button aria-expanded="false" type="button"
                                        onclick="location.href=window.location.href+'?format=csv'"><i
                                        class="si si-cloud-download"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#match-table').DataTable().page('previous').draw('page');"><i
                                        class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#match-table').DataTable().page('next').draw('page');"><i
                                        class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#match-table').DataTable().ajax.reload();"><i
                                        class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="DataTables_Table_1_wrapper">
                            <div class="row">
                                <div class="col-xs-11">
                                    <table aria-describedby="match-table_info" role="grid" id="match-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th colspan="1" rowspan="1" aria-controls="match-table" tabindex="0">
                                                Property
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="match-table" tabindex="0">
                                                Agreement Period
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="match-table" tabindex="0">
                                                Unit Type
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="match-table" tabindex="0"
                                            >Proposed group size
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="match-table" tabindex="0"
                                            >Proposed group
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="match-table" tabindex="0"
                                            >Units
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="match-table" tabindex="0"
                                            >Lock
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="col-xs-1">
                                    <h3 class="block-title push-30">Filters</h3>
                                    {{ filters.form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/match-report-table.js' %}?v=00009"></script>
    <script>
        changeStyles();
        initMatchTable('{% url 'management:match-list' property.id %}', {{ property.id }});
    </script>
{% endblock %}