{% extends "management/manager_base.html" %}
{% load management_extras %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title="Search Results" %}
        <div class="block">
            <div class="block-content">
                <div id="search-results-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#search-results-table').DataTable().page('previous').draw('page');"><i
                                        class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#search-results-table').DataTable().page('next').draw('page');"><i
                                        class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#search-results-table').DataTable().draw('page');"><i
                                        class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="DataTables_Table_1_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table aria-describedby="search-results-table_info" role="grid" id="search-results-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th colspan="1" rowspan="1" aria-controls="search-results-table" tabindex="0">Name
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="search-results-table" tabindex="0">Property
                                            </th>
                                            <th colspan="1" rowspan="1" aria-controls="search-results-table" tabindex="0">Profile Page
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/search-results-table.js' %}?v=0002"></script>
    <script>
        changeStyles();
        initSearchResultsTable('{{ search_value }}');
    </script>
{% endblock %}