{% extends "management/manager_base.html" %}
{% load static %}
{% load extras %}

{% block content %}
<main id="main-container">
    {% include 'management/breadcrumbs.html' %}
    <div class="block">
        <div class="block-content row">
            <form method="POST">
                {% csrf_token %}

                <div class="col-md-8">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option"
                                            data-action="fullscreen_toggle"><i
                                            class="si si-size-fullscreen"></i></button>
                                </li>
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="content_toggle"><i
                                            class="si si-arrow-up"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title"><i class="si si-note"></i> Invitation ({{ period.name }})</h3>
                        </div>

                        <div class="block-content">
                        {% if invite_form %}
                            {% include "management/manager_form.html" with form=invite_form field_size=10 label_size=2 %}
                            <div class="form-group row">
                                <input class="btn btn-info btn-lg push-5-t push-5-l" type="submit" value="Update"/>
                                {% if invite_form.instance.id %}
                                    <a href="{% url 'getting-started' invite_form.instance.invite_code %}" target="_blank"
                                       class="btn btn-info btn-lg push-5-t push-5-l">Proxy
                                        Login</a>
                                    <button id="resend-invite-btn" type="button" user-id="{{ student.id }}"
                                            class="btn btn-info btn-lg push-5-t push-5-l">Send Invite
                                    </button>
                                    <button id="reminder-btn" type="button" user-id="{{ student.id }}"
                                            class="btn btn-info btn-lg push-5-t push-5-l">Send Reminder Email
                                    </button>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="text-center">
                                <h3>There is no current agreement period</h3>
                            </div>
                        {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option"
                                            data-action="fullscreen_toggle"><i
                                            class="si si-size-fullscreen"></i></button>
                                </li>
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="content_toggle"><i
                                            class="si si-arrow-up"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title"><i class="si si-user"></i> User Info</h3>
                        </div>
                        <div class="block-content">
                            {% include "management/manager_form.html" with form=form field_size=9 label_size=3 %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/jquery-chained/jquery.chained.min.js' %}"></script>
    <script>
        $("#id_unit").select2().on('select2-open', function() {

        // however much room you determine you need to prevent jumping
        var requireHeight = 600;
        var viewportBottom = $(window).scrollTop() + $(window).height();

        // figure out if we need to make changes
        if (viewportBottom < requireHeight)
        {
            // determine how much padding we should add (via marginBottom)
            var marginBottom = requireHeight - viewportBottom;

            // adding padding so we can scroll down
            $(".aLwrElmntOrCntntWrppr").css("marginBottom", marginBottom + "px");

            // animate to just above the select2, now with plenty of room below
            $('html, body').animate({
                scrollTop: $("#mySelect2").offset().top - 10
            }, 1000);
        }
    });
    </script>
    {% if form.instance.id %}
        <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
        <script src="{% static 'js/custom-scripts/invitation-form.js' %}?v=0001"></script>
        <script>
            formInit('{% url 'management:user-list' property.id %}');
        </script>
    {% endif %}
{% endblock %}

