{% extends "management/manager_base.html" %}
{% load management_extras %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Invitations' %}
        <div class="block">
            <div class="block-header">
            </div>
            <div class="block-content">
                <div id="invitation-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button aria-expanded="false" type="button"
                                        onclick="location.href=window.location.href+'?format=csv'"><i
                                        class="si si-cloud-download"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('invitation-table').DataTable().page('previous').draw('page');"><i
                                        class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#invitation-table').DataTable().page('next').draw('page');"><i
                                        class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#invitation-table').DataTable().draw('page');"><i
                                        class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="invitation-table_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table aria-describedby="invitation-table_info" role="grid" id="invitation-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="invitation-table" tabindex="0"
                                                class="sorting">Agreement Period
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending" colspan="1"
                                                rowspan="1"
                                                aria-controls="invitation-table" tabindex="0" class="hidden-xs"
                                            >Unit
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending" colspan="1"
                                                rowspan="1"
                                                aria-controls="invitation-table" tabindex="0" class="hidden-xs"
                                            >Room
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending" colspan="1"
                                                rowspan="1"
                                                aria-controls="invitation-table" tabindex="0" class="hidden-xs"
                                            >Bed
                                            </th>
                                            <th aria-label="Email: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="invitation-table" tabindex="0"
                                                class="hidden-xs sorting">First Name
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending" colspan="1"
                                                rowspan="1"
                                                aria-controls="invitation-table" tabindex="0" class="hidden-xs sorting"
                                            >Last Name
                                            </th>
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="invitation-table" tabindex="0"
                                                class="sorting">Email
                                            </th>
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="invitation-table" tabindex="0"
                                                class="sorting">Unit Type
                                            </th>
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="invitation-table" tabindex="0"
                                                class="sorting">Room Type
                                            </th>
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="invitation-table" tabindex="0"
                                                class="sorting">Gender Restriction
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/invitation-table.js' %}?v=0006"></script>
    <script>
        changeStyles();
        initInvitationTable('{% url 'management:invitation-list' property.id %}', '/management/user/{{ property.id }}/');
    </script>
{% endblock %}
