{% extends "management/manager_base.html" %}
{% load static %}
{% block content %}
    <main id="main-container">
    {% include 'management/breadcrumbs.html' %}
    <style>
    .bootstrap-filestyle{max-width:300px;}
    </style>
        <div class="block">
            <div class="block-content row">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "management/manager_form.html" with form=form field_size=10 label_size=2 %}
                    <input class="btn btn-info btn-lg" type="submit" value="{{ submit }}"/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/bootstrap-filestyle/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script type="text/javascript">
			changeStyles();
        $(":file").filestyle({buttonText: "Browse",buttonBefore: false});
    </script>
{% endblock %}
