{% extends "management/manager_base.html" %}
{% load static %}
{% load management_extras %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="css-custom"
          href="{% static 'js/plugins/jquery-datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <main id="main-container">
        {% include 'management/breadcrumbs.html' with title='Resident Import' %}
        <div class="block">
            <div class="block-header">
                <div class="col-lg-4" style="border: 1px solid rgba(86,61,124,.2); padding: 0;">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="content_toggle"><i
                                            class="si si-arrow-up"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Import New Tenants</h3>
                        </div>
                        <div class="block-content">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ file_form.file }}
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-upload"></i> Upload
                                    </button>
                                    <button id="sample-button" class="btn btn-default" type="button"><i class="si si-doc"></i> Download Sample</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-content">
                <div id="import-table-block" class="block block-rounded">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#import-table').DataTable().page('previous').draw('page');">
                                    <i class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#import-table').DataTable().page('next').draw('page');"><i
                                        class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option"
                                        onclick="$('#import-table').DataTable().draw('page');"><i
                                        class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                        class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"
                             id="DataTables_Table_1_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table aria-describedby="import-table_info" role="grid"
                                           id="import-table"
                                           class="table table-bordered table-striped full-width-table js-dataTable-full dataTable no-footer table-hover">
                                        <thead>
                                        <tr role="row">
                                            <th aria-label="Name: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="user-table" tabindex="0"
                                                class="sorting">File
                                            </th>
                                            <th aria-label="Email: activate to sort column ascending"
                                                colspan="1" rowspan="1" aria-controls="user-table" tabindex="0"
                                                class="hidden-xs sorting">Created at
                                            </th>
                                            <th aria-label="Access: activate to sort column ascending" colspan="1"
                                                rowspan="1"
                                                aria-controls="user-table" tabindex="0" class="hidden-xs sorting"
                                            >Status
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/plugins/bootstrap-filestyle/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts/dataTables.styles.js' %}"></script>
    <script src="{% static 'js/custom-scripts/import-table.js' %}?v=0002"></script>
    <script>
        changeStyles();
        initImportTable('{% url 'management:resident-import-list' property.id %}');
    </script>
    <script type="text/javascript">
        $(":file").filestyle({buttonText: "Browse"});
    </script>
{% endblock %}