{% extends "admin/base.html" %}
{% load user_group_extras %}
{% load staticfiles %}

{% block title %}Group Report{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">
    <style>
        #group-table_paginate {
            font-size: 11px;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 22px;
            margin: 0;
            border-top: 1px solid #ddd;
        }

        .paginate_button {
            padding: 2px 6px;
            border: solid 1px #ccc;
            background: white;
            text-decoration: none;
        }

        .paginate_button.current {
            padding: 2px 6px;
            font-weight: bold;
            font-size: 13px;
            vertical-align: top;
            border: none;
        }

        .paginate_button:hover {
            color: white;
            background: #5b80b2;
            border-color: #036;
        }

        .paginate_button.current:hover {
            background: none;
            color: inherit;
        }
    </style>
    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript">
        var jQuery = django.jQuery;
        var $ = django.jQuery;
    </script>
    <script src="{% static 'js/plugins/jquery-datatables/jquery.dataTables.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#group-table').DataTable({
                "bSort": true,
                "bPaginate": true,
                "sPaginationType": "numbers",
                "iDisplayLength": 100,
                "bFilter": false,
                "bInfo": false,
                "bLengthChange": false
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="changelist">
    <table id="group-table">
        <thead>
        <tr>
            <th>Agreement Period</th>
            <th>Unit Type</th>
            <th>Group</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ group.0.invitation.agreement_period }}</td>
                <td>{{ group.0.invitation.unit_type }}</td>
                <td>
                    <ol>
                        {% print_group_users group %}
                    </ol>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
