.quiz-slide {
	position: relative;
	background-size: cover !important;
}

.quiz-slide .progress {
	margin-bottom: 0;
	height: 5px;
}

.quiz-slide .main-image {
	width: 100%;
	max-width: 1350px;
	display: block;
	margin:0 auto;
}

.quiz-slide .slide-caption {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 5px;
	color: white;
	background: rgba(0, 0, 0, .5);
	padding: 15px 0;
}

.quiz-slide .buttons {
	position: absolute;
	bottom: 50px;
	left:50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.quiz-slide .buttons button {
	width: 150px;
	height: 50px;
	color: white;
	text-transform: uppercase;
}

.quiz-slide .buttons button:first-child{
	-webkit-border-top-left-radius: 25px; 
	-moz-border-top-left-radius: 25px; 
	-ms-border-top-left-radius: 25px; 
	border-top-left-radius: 25px; 

	-webkit-border-bottom-left-radius: 25px; 
	-moz-border-bottom-left-radius: 25px; 
	-ms-border-bottom-left-radius: 25px; 
	border-bottom-left-radius: 25px; 
	background: #35A5DD;
	border: none;
}

.quiz-slide .buttons button:last-child{
	-webkit-border-top-right-radius: 25px; 
	-moz-border-top-right-radius: 25px; 
	-ms-border-top-right-radius: 25px; 
	border-top-right-radius: 25px; 

	-webkit-border-bottom-right-radius: 25px; 
	-moz-border-bottom-right-radius: 25px; 
	-ms-border-bottom-right-radius: 25px; 
	border-bottom-right-radius: 25px; 
	background: #EF4036;
	border: none;
}

.filter-box .form-filter{
	text-align: right;
}

.filter-box .form-filter input{display: inline-block;}
.filter-box .form-filter label{
	white-space: nowrap;
    text-align: left;
}

/* custom-table */
.custom-table{
	width: 100%;
	table-layout: fixed;
}
.custom-table td,
.custom-table th{vertical-align: top;}

/* customized oneui progress-bar */
.progress-bar-red{background: #d26a5c;}
.progress-bar-yellow{background: #f3b760;}
.progress-bar-blue{background: #70b9eb;}
.progress-bar-green{background: #46c37b;}
.progress-bar-dark-blue{background: #5c90d2;}

@media only screen and (max-width: 767px) {
	.filter-box .form-option{text-align: right;}
	.filter-box .form-option select{
		width: 160px;
	}

	.filter-box .form-filter input{
		width: 160px;
	}

	.quiz-slide .buttons{
		width: 320px;
		bottom: 10px;
		text-align: center;
	}
}

@media screen and (max-device-width: 767px) and (orientation: landscape){
	.quiz-slide .buttons {
		bottom: auto;
		top: calc(100vh - 10px);
		-webkit-transform: translate(-50%, -100%);
		-moz-transform: translate(-50%, -100%);
		-ms-transform: translate(-50%, -100%);
		-o-transform: translate(-50%, -100%);
		transform: translate(-50%, -100%);
	}
}

#userprofile_bg, #userprofile_bg {
    cursor: pointer;
}

#userprofile_bg:hover, #userprofile_image:hover {
    opacity: 0.8;
}

#property-logo {
	/*position: absolute;*/
	padding-bottom: 20px;
	width: 20%;
	max-height: 30%;
}

.full-width-table {
	width: 100% !important;
}

.delete-user-th {
    width: 5%;
}

.resend-invite-th {
	width: 10%;
}

.send-reminder-email-th {
	width: 15%;
}

.management-action {
    cursor: pointer;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.search-block {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tags-container {
	background-color: #FFFFFF;
	padding: 15px;
}

.tags-container>p {
	font-size: 16px;
	font-weight: 600;
	margin-right: 5px;
	margin-bottom: 0;
	float: left;
}

.profile-details-block {
	margin-bottom: 20px;
}

.profile-details {
	margin: 0 !important;
}

.peer-block {
	padding-bottom: 30px;
}

.filter-option {
	cursor: pointer;
}

.selected-filter {
	color: grey !important;
}

a.selected-filter:before {
  background-color: darkgrey !important;
}

.table-checkbox {
	padding: 15px !important;
	vertical-align: middle;
}

.label-link {
	cursor: pointer;
}

.label-link.selected-label {
	color: red !important;
}

.label-link.selected-label:before {
	background-color: red !important;
}

.border-progressbar {
	border-right: 1px solid #fff;
}

.bar-wrap {
    position: relative;
}
.progress-marker {
    width: 2px;
    height: 10px;
    position: absolute;
    background: black;
    bottom: -5px;
    z-index:1000;
}
.marker-axis {
    display: block;
	position: absolute;
    width: 90%;
}
.marker-spot {
    display: block;
    position: absolute;
    margin-top: -15px;
}

.unformated-list > ul {
	list-style: none !important;
}

.room-form {
	padding: 15px;
	margin-bottom: 20px;
}

.error-label {
	color: #d26a5c;
}

.available-bed.selected {
	color: #46c37b !important;
}

.available-bed.selected > .text-primary {
	color: #46c37b !important;
}

.clear {
	clear: both;
}

.clearfix {
	clear: both;
}