

#select-unit-bed-modal div.body-row{
    cursor: default;
    padding: 5px;
}

#select-unit-bed-modal .header-row > div{
    cursor: default;
    text-align: center;
    padding: 5px;
    background: #F9FAFB;
}

#select-unit-bed-modal .unit-bed-content > div{
    cursor: default;
    padding: 5px;
}

#select-unit-bed-modal .center-block > a {
    display: block;
    margin: auto;
}

#beds-select > div{
    cursor: default;
    padding-left: 50px;
}

.row .center {
    height: inherit;
    position: relative;
}

.row .center a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.modal-header .row input{
    text-align: right;
}