{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Room Choice | Roommate Matching Software</title>

        <meta name="description" content="Room Choice - Roommate Matching Software - Admin Dashboard created by Room Choice">
        <meta name="author" content="roomchoice.com">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">

        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicons/favicon-96x96.png">

        <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="/static/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" type="image/png" sizes="60x60" href="/static/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/static/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/static/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/static/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/static/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/static/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/static/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/static/img/favicons/apple-icon-180x180.png">

        <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/favicons/android-icon-192x192.png">
        <link rel="manifest" href="/static/img/favicons/manifest.json">

        <meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <!-- Bootstrap and OneUI CSS framework -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/js/plugins/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="/static/js/plugins/select2/select2-bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/js/plugins/dropzonejs/dropzone.css">
        <link rel="stylesheet" type="text/css" id="css-main" href="/static/css/oneui.min.css">
        <link rel="stylesheet" type="text/css" id="css-custom" href="/static/css/custom/custom.css?v=0003">
        <link rel="stylesheet" type="text/css" id="css-custom" href="/static/css/custom/profile.css?v=0004">
        <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/sweetalert/sweetalert.css' %}">

        {% block extra_css %}
        {% endblock %}


        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="/static/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->

        <!-- FullStory.com integration script -->
        <script type="text/javascript">
            window['_fs_debug'] = false;
            window['_fs_host'] = 'www.fullstory.com';
            window['_fs_org'] = 'MD6H';
            (function(m,n,e,t,l,o,g,y){
                g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
                o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
                y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
                g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};
                g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;FS(o,v)};
                g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
                        ';path=/;expires='+new Date(0);i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}
            })(window,document,'FS','script','user');
        </script>
        <!-- END FullStory.com integration script -->

        <!-- JS Scripts (before page load) -->
        <script type="text/javascript" src="/static/js/plugins/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/moment/moment.min.js"></script>
        <script type="text/javascript" src="/static/js/custom-scripts/utils.js"></script>
        <script type="text/javascript">
            !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
            analytics.load("WvODpdaIThxlqclZyp9Ri6BxvacynhDm");
            analytics.page()
            }}();
        </script>
        <!-- END JS Scripts (before page load) -->
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
            'header-navbar-transparent'  Enables a transparent header (if also fixed, it will get a solid dark background color on scrolling)
        -->

        <div id="page-container" class="side-scroll{% block base_classes %}{% endblock base_classes %}">
            {% block header %}{% endblock %}
            <!-- END Header -->

            <!-- Main Container -->
            {% block content %}{% include "includes/login_form.html" %} {% endblock %}
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="bg-white">
                <div class="content content-boxed">

                    <!-- Copyright Info -->
                    <div class="font-s12 push-20 clearfix">
                        <hr class="remove-margin-t">
                        <div class="pull-right">
                            <a class="font-w600" href="http://www.roomchoice.com" target="_blank">www.roomchoice.com</a> &copy; <span class="js-year-copy" />
                        </div>
                        <div class="pull-left">
                            {{ invite.oranization.name }}
                        </div>
                    </div>
                    <!-- END Copyright Info -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="{% static 'js/core/jquery.min.js' %}"></script>
        <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.scrollLock.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.appear.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.countTo.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.placeholder.min.js' %}"></script>
        <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
        <script src="{% static 'js/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
        <script src="{% static 'js/plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
        <script src="{% static 'js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/plugins/dropzonejs/dropzone.min.js' %}"></script>
        <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
        <script src="{% static 'js/pages/base_forms_wizard.js' %}?v=0001"></script>
        <script src="{% static 'js/app.js' %}"></script>

        <!-- Page JS Code -->
        <script>
            jQuery(function() {
                // Init page helpers (Appear + CountTo plugins)
                App.initHelpers(['appear', 'appear-countTo', 'select2']);
            });
        </script>

        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/custom-scripts/custom-tags.js' %}"></script>
        <script src="{% static 'js/custom-scripts/user-image-upload.js' %}?v=0001"></script>
        <script src="{% static 'js/custom-scripts/bs-modal-fix.js' %}"></script>
        <script src="{% static 'js/custom-scripts/messenger.js' %}?v=0001"></script>
        <script src="{% static 'js/custom-scripts/user-messages.js' %}"></script>
        <script src="{% static 'js/custom-scripts/confirm.js' %}"></script>
        <script src="{% static 'js/custom-scripts/peers-search.js' %}?v=0002"></script>
        <script src="{% static 'js/custom-scripts/user-invite-confirm.js' %}"></script>

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
