{% extends "base.html" %}
{% load profile_extras %}
{% load staticfiles %}

{% block content %}
    <main id="main-container">
        <!-- Hero Content -->
        <div class="bg-primary-dark">
            <section class="content content-full content-boxed">
                <!-- Section Content -->
                <div class="push-100-t push-50 text-center">
                    {% if property.logo %}
                        <img id="property-logo" src="{{ property.logo.url }}">
                    {% endif %}
                    <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear"
                        data-class="animated fadeInDown">Welcome to {{ user_invite.agreement_period.property.name }}
                        Roommate Matching</h1>
                    <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear"
                        data-class="animated fadeInDown">Complete your profile and search for roommates.</h2>
                </div>
                <!-- END Section Content -->
            </section>
        </div>
        <!-- END Hero Content -->

        <!-- Call to action -->
        <div class="bg-white">
            <section class="content content-full content-boxed">
                <!-- Section Content -->
                <div class="push-20-t push-20 text-center">
                    {% if assessment.completed_at %}
                        <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Your Roommmate Matching Profile is Complete! </h3>
                        <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden"
                           data-toggle="appear" data-class="animated bounceIn" href="#peers">See Roommate Matches</a>
                    {% else %}
                        <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Are you ready to find a
                            roommate?</h3>
                        <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden"
                           data-toggle="appear" data-class="animated bounceIn" href="{% url 'quiz_profile' %}">Get
                            Started</a>
                    {% endif %}
                </div>
                <div class="push-20-t push-20 text-center">
                    <a class="link-effect" href="{% url 'quiz_profile' %}?redirect={% url 'user_profile_v2' %}"><i
                            class="fa fa-edit"></i>
                        Edit Profile</a>
                </div>
                <!-- END Section Content -->
            </section>
        </div>
        <!-- Call to action -->
        {% if assessment.completed_at %}
          {% if user_to_be_deleted %}
            <style> {{user_to_be_deleted}}{display:none;}</style>
          {% endif %}
            <div class="bg-gray-lighter">
                <section class="content content-full content-boxed">
                    <!-- Section Content -->
                    <div class="row push-20-t push-20">
                        <div class="col-lg-8">
                            {% if approved_relationships|length > max_occupancy|add:-1 %}
                                <div>
                                    <div class="alert alert-warning alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h3 class="font-w300 push-15">Warning</h3>
                                        <p>Your proposed group is currently over it's limit of {{ max_occupancy }}.</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if show_group_overflow_alert %}
                                <div>
                                    <div class="alert alert-warning alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h3 class="font-w300 push-15">Warning</h3>
                                        <p>Your proposed group doesn't fit with any current openings. You may want to adjust your group size before trying to select a unit.</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-lg-6">
                                <!-- Friends Widget -->
                                <div class="block block-bordered">
                                    <div class="block-header">
                                        <ul class="block-options">
                                            <li>
                                                <button type="button" data-toggle="block-option"
                                                        data-action="fullscreen_toggle"><i
                                                        class="si si-size-fullscreen"></i></button>
                                            </li>
                                            <li>
                                                <button type="button" data-toggle="block-option"
                                                        data-action="refresh_toggle" data-action-mode="demo"><i
                                                        class="si si-refresh"></i></button>
                                            </li>
                                            <li>
                                                <button type="button" data-toggle="block-option"
                                                        data-action="content_toggle"><i class="si si-arrow-up"></i>
                                                </button>
                                            </li>
                                        </ul>
                                        <h3 class="block-title">Proposed Roommates</h3>
                                    </div>
                                    <div class="block-content">
                                        <div class="pull-r-l pull-t push">
                                            <table class="block-table text-center bg-gray-lighter border-b">
                                                <tbody>
                                                <tr>
                                                    <td class="border-r" style="width: 50%;">
                                                        <div class="h1 font-w700">{{ approved_relationships|direct_length }}</div>
                                                        <div class="h5 text-muted text-uppercase push-5-t">Direct</div>
                                                    </td>
                                                    <td>
                                                        <div class="h1 font-w700">{{ approved_relationships_via_users }}</div>
                                                        <div class="h5 text-muted text-uppercase push-5-t">Via Other
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {% for relationship in approved_relationships %}
                                            <div class="block au_{{ relationship.id }}">
                                                <div class="block-header">
                                                    {% if user.id == relationship.start_user.id %}
                                                        <div>
                                                            <a href="#" data-toggle="modal"
                                                               class="float-left push-5-r"
                                                               data-target="#user-profile"
                                                               data-href="/user-profile-ajax/{{ relationship.end_user.id }}">
                                                                {{ relationship.end_user.first_name }} {{ relationship.end_user.last_name }}
                                                            </a>
                                                            {% if relationship.via_user %}
                                                                <p style="float: right;">
                                                                    via {{ relationship.via_user.first_name }}
                                                                    {{ relationship.via_user.last_name }}
                                                                </p>
                                                            {% else %}
                                                                {% if not relationship.read_only %}
                                                                    <form method="POST"
                                                                          action="{% url "invite_update" %}"
                                                                          style="float: right;">
                                                                        {% csrf_token %}
                                                                        <input name="relation_ship_id" type="hidden"
                                                                               value="{{ relationship.id }}"/>
                                                                        <input name="delete" value="true" type="hidden">
                                                                        <button class="btn btn-default invite-btn"
                                                                                name="delete"
                                                                                data-original-title="Remove from proposed group"
                                                                                data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                confirm-text="Are you sure that you want to delete {{ relationship.end_user.full_name }} from your roommates?"
                                                                                value="true" type="submit">
                                                                            <i class="fa fa-remove"></i>
                                                                        </button>
                                                                    </form>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if relationship.is_roommate_relations_allowed and not relationship.read_only %}
                                                                {% if relationship.is_roommate == 'N' %}
                                                                    {% with user=relationship.end_user.full_name|stringformat:"s" %}
                                                                        {% with "Are you sure that you want to set "|add:user|add:" as roommate? You can set only one roommate!" as msg %}
                                                                            {% include 'includes/roommate_relationship_form.html' with tooltip_title="Set as your roommate" relation_type="S" confirm_text=msg %}
                                                                        {% endwith %}
                                                                    {% endwith %}
                                                                {% elif relationship.is_roommate == 'S' %}
                                                                    {% include 'includes/roommate_relationship_form.html' with tooltip_title="Roommate Request Sent" relation_type="N" confirm_text="Are you sure that you want to delete your roommate proposal?" %}
                                                                {% elif relationship.is_roommate == 'D' %}
                                                                    {% with user=relationship.end_user.full_name|stringformat:"s" %}
                                                                        {% with "Are you sure that you want to delete "|add:user|add:" from your roommates?" as msg %}
                                                                            {% include 'includes/roommate_relationship_form.html' with tooltip_title="Remove from roommates" relation_type="N" confirm_text=msg %}
                                                                        {% endwith %}
                                                                    {% endwith %}
                                                                {% else %}
                                                                    {% include 'includes/roommate_relationship_form.html' %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% if relationship.is_roommate == 'D' %}
                                                                    <div class="block-options">
                                                                    <i class="fa fa-star"></i>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                            <p>{{ relationship.end_user.assignment }}</p>
                                                        </div>
                                                        <div class="font-w400 text-muted">
                                                            <small>{{ user.user.get_personality_types_json.personality_blend.name }}</small>
                                                        </div>
                                                    {% else %}
                                                        <div>
                                                            <a href="#" data-toggle="modal" data-target="#user-profile"
                                                               class="float-left push-5-r"
                                                               data-href="/user-profile-ajax/{{ relationship.start_user.id }}">
                                                                {{ relationship.start_user.first_name }} {{ relationship.start_user.last_name }}
                                                            </a>
                                                            {% if relationship.via_user %}
                                                                <p style="float: right;">
                                                                    via {{ relationship.via_user.first_name }} {{ relationship.via_user.last_name }}
                                                                </p>
                                                            {% else %}
                                                                {% if not relationship.read_only %}
                                                                    <form method="POST"
                                                                          action="{% url "invite_update" %}"
                                                                          style="float: right;">
                                                                        {% csrf_token %}
                                                                        <input name="relation_ship_id" type="hidden"
                                                                               value="{{ relationship.id }}"/>
                                                                        <input name="delete" value="true" type="hidden">
                                                                        <button class="btn btn-default invite-btn"
                                                                                name="delete"
                                                                                data-original-title="Remove from proposed group"
                                                                                data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                confirm-text="Are you sure that you want to delete {{ relationship.start.full_name }} from your roommates?"
                                                                                value="true" type="submit">
                                                                            <i class="fa fa-remove"></i>
                                                                        </button>
                                                                    </form>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if relationship.is_roommate_relations_allowed and not relationship.read_only %}
                                                                {% if relationship.is_roommate == 'N' %}
                                                                    {% with user=relationship.start_user.full_name|stringformat:"s" %}
                                                                        {% with "Are you sure that you want to set "|add:user|add:"as roommate? You can set only one roommate!" as msg %}
                                                                            {% include 'includes/roommate_relationship_form.html' with tooltip_title="Set as your roommate. You can set only one roommate" relation_type="E" confirm_text=msg property=property %}
                                                                        {% endwith %}
                                                                    {% endwith %}
                                                                {% elif relationship.is_roommate == 'E' %}
                                                                    {% include 'includes/roommate_relationship_form.html' with tooltip_title="Primary Roommate Invitation Pending" relation_type="N" confirm_text="Are you sure that you want to delete your roommate proposal?" property=property %}
                                                                {% elif relationship.is_roommate == 'D' %}
                                                                    {% with user=relationship.start_user.full_name|stringformat:"s" %}
                                                                        {% with "Are you sure that you want to delete "|add:user|add:" from your roommates?" as msg %}
                                                                            {% include 'includes/roommate_relationship_form.html' with tooltip_title="Remove from roommates" relation_type="N" confirm_text=msg property=property %}
                                                                        {% endwith %}
                                                                    {% endwith %}
                                                                {% else %}
                                                                    {% include 'includes/roommate_relationship_form.html' with property=property %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% if relationship.is_roommate == 'D' %}
                                                                    <div class="block-options">
                                                                    <i class="fa fa-star"></i>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        <p>{{ relationship.start_user.assignment }}</p>
                                                        </div>
                                                        <div class="font-w400 text-muted">
                                                            <small>{{ user.user.get_personality_types_json.personality_blend.name }}</small>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for relationship in sameunit_relationships %}
                                            <div class="block su_{{ relationship.id }}">
                                                <div class="block-header">
                                                        <a href="#" data-toggle="modal" data-target="#user-profile"
                                                           data-href="/user-profile-ajax/{{ relationship.user.id }}" class="float-left push-5-r">
                                                            <div>{{ relationship.user.first_name }} {{ relationship.user.last_name }}</div>
                                                        </a>
                                                        <p style="float: right;">via Unit</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for relationship in pending_relationships %}

                                            <div class="block pu_{{ relationship.id }}">
                                                <div class="block-header">
                                                    {% if relationship.start_user.id != user.id %}
                                                        <form method="POST" action="{% url "invite_update" %}">
                                                            {% csrf_token %}
                                                            <input name="relation_ship_id" type="hidden"
                                                                   value="{{ relationship.id }}"/>
                                                            <input name="user_id" type="hidden"
                                                                   value="{{ user.id }}"/>
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button name="accepted" value="true" type="submit"
                                                                            class="invite-btn"
                                                                            confirm-text="Are you sure that you want to accept {{ relationship.start_user.full_name }} invitation?"
                                                                            data-toggle="block-option"><i
                                                                            class="si si-like fa-2x"></i></button>
                                                                </li>
                                                                <li>
                                                                    <button name="accepted" value="false" type="submit"
                                                                            class="invite-btn"
                                                                            confirm-text="Are you sure that you want to reject {{ relationship.start_user.full_name }} invitation?"
                                                                            data-toggle="block-option"><i
                                                                            class="si si-dislike fa-2x"></i></button>
                                                                </li>
                                                            </ul>
                                                        </form>
                                                        <a href="#" data-toggle="modal" data-target="#user-profile"
                                                           data-href="/user-profile-ajax/{{ relationship.start_user.id }}" style="display: block; float: left; width: 44%;">
                                                            <div>{{ relationship.start_user.first_name }} {{ relationship.start_user.last_name }}</div>
                                                            <div class="font-w400 text-muted">
                                                                <small>{{ user.user.get_personality_types_json.personality_blend.name }}</small>
                                                            </div>
                                                        </a>
                                                        <ul class="block-options block-options-left">
                                                            {% if relationship.start_user.groups.all.0.size|add:-1 %}
                                                                <li class="dropdown">
                                                                    <button aria-expanded="false" type="button" data-toggle="dropdown"> 
                                                                            +{{ relationship.start_user.groups.all.0.size|add:-1 }}
                                                                            <span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                                        <li class="dropdown-header">Group members</li>
                                                                        {% for member in relationship.start_user.groups.all.0.users.all %}
                                                                            {% if member.id != user.id %}
                                                                                <li>
                                                                                    <a href="#" data-toggle="modal" data-target="#user-profile"
                                                                                        data-href="/user-profile-ajax/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}
                                                                                        {% if member.invites.all.0.contract_type.occupied_places > 1 %}
                                                                                            <i class="si si-info" data-original-title=""
                                                                                                data-toggle="popover" title="" data-placement="top"
                                                                                                data-content="This student has a contract for two beds and will count as two in your group.">
                                                                                            </i>
                                                                                        {% endif %}
                                                                                    </a>
                                                                                </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                        <div class="clear"></div>
                                                        <p class="push-5-l float-left">{{ relationship.start_user.assignment }}</p>
                                                    {% else %}
                                                        <form method="POST" action="{% url "invite_update" %}"
                                                              style="float: right; margin-left: 20px;">
                                                            {% csrf_token %}
                                                            <input name="relation_ship_id" type="hidden"
                                                                   value="{{ relationship.id }}"/>
                                                            <input name="delete" value="true" type="hidden">
                                                            <button class="btn btn-default invite-btn" name="delete"
                                                                    confirm-text="Are you sure that you want remove your invitation?"
                                                                    value="true" type="submit">
                                                                <i class="fa fa-remove"></i>
                                                            </button>
                                                        </form>
                                                        <ul class="block-options" style="padding-top: 7px;">
                                                            <li>
                                                                Pending
                                                            </li>
                                                        </ul>
                                                        <a href="#" data-toggle="modal" data-target="#user-profile"
                                                           data-href="/user-profile-ajax/{{ relationship.end_user.id }}">
                                                            <div>{{ relationship.end_user.first_name }} {{ relationship.end_user.last_name }}</div>
                                                            <div class="font-w400 text-muted">
                                                                <small>{{ user.user.get_personality_types_json.personality_blend.name }}</small>
                                                            </div>
                                                        </a>
                                                         <div class="clear"></div>
                                                        <p class="push-5-l float-left">{{ relationship.end_user.assignment }}</p>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- END Friends Widget -->
                            </div>
                            <div id="user-messages" class="col-lg-6">

                            </div>
                            <div id="peers" class="col-lg-12">
                                <div class="block">
                                    <ul class="nav nav-tabs col-sm-6" data-toggle="tabs">
                                        <li class="active">
                                            <a href="#suggested-roommates" data-peers="suggested">Suggested
                                                Roommates</a>
                                        </li>
                                        <li>
                                            <a href="#all-roommates" data-peers="all">All Roommates</a>
                                        </li>
                                    </ul>
                                    <div class="col-sm-6 search-block">
                                        <div class="form-inline form-filter">
                                            <div class="form-group">
                                                <label for="peer-search">Search: </label>
                                                <input type="search" class="form-control input-sm" id="peer-search"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-tags tags-container">
                                        <p>Filter by: </p>
                                        <div class="dropdown float-left">
                                            <button class="btn btn-primary dropdown-toggle" type="button"
                                                    data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                                            <ul id="habits" class="dropdown-menu">
                                                {% for question in habits_questions %}
                                                    <li class="menu-item dropdown dropdown-submenu"
                                                        name="question-{{ question.id }}"
                                                        data-id="{{ question.id }}">
                                                        <a style="cursor: default" href="#"
                                                           class="dropdown-toggle"
                                                           data-toggle="dropdown">{{ question.question }}</a>
                                                        <ul class="dropdown-menu habit-answers"
                                                            value="question-{{ question.id }}">
                                                            {% for answer in question.answers.all %}
                                                                <li>
                                                                    <a href="javascript:void(0)"
                                                                       class="answer-selected"
                                                                       value="answer-{{ answer.id }}"
                                                                       data-id="{{ answer.id }}">{{ answer.answer }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="block-content tab-content" style="clear: both; overflow: visible;">
                                        <div class="tab-pane active" id="suggested-roommates">
                                            <div class="peers-list">
                                                <div class="row">
                                                    <div style="text-align: center;">
                                                        <i class="fa fa-5x fa-cog fa-spin loading"></i>
                                                    </div>
                                                    <div class="peers">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="all-roommates">
                                            <div class="peers-list">
                                                <div class="row">
                                                    <div style="text-align: center;">
                                                        <i class="fa fa-5x fa-cog fa-spin loading"></i>
                                                    </div>
                                                    <div class="peers">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- User Details side bar -->
                        <div class="col-sm-12 col-lg-4">
                            {% include "includes/personality/user_card.html" %}
                            {% for personality_detail in user.profile.get_personality_types_json.personality_blend.details %}
                                {% if personality_detail.body %}
                                    {% include "includes/personality/detail.html" %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- END User Details side bar -->

                        <input type="hidden" id="userId" value="{{ user.id }}"/>


                        <!-- Peer's details popup window -->
                        <div class="modal fade" id="user-profile" role="dialog">
                            <div class="modal-dialog modal-dialog-popout">
                                <div class="modal-content">
                                    <div class="block spinner-holder">
                                        <div class="block-content block-content-full text-center">
                                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Peer's details popup window -->

                        <!-- Messenger Dialog -->
                        <div class="modal fade" id="messenger" role="dialog">
                            <div class="modal-dialog modal-dialog-popout">
                                <div class="modal-content">
                                    <div class="block">
                                        <div class="block-header bg-primary-dark">
                                            <ul class="block-options">
                                                <li>
                                                    <button data-dismiss="modal" type="button"><i
                                                            class="si si-close"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title text-white"></h3>
                                        </div>
                                        <div class="js-chat-talk overflow-y-auto block-content block-content-full"
                                             style="height: 346px;">
                                            <!-- Messages log here -->
                                        </div>
                                        <div class="js-chat-form block-content block-content-full block-content-mini">
                                            <form id="message-form" action="#" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="user1_id" value="{{ user.id }}">
                                                <input type="hidden" name="user2_id" value="">
                                                <input id="message-input" class="js-chat-input form-control" type="text" name="message"
                                                       placeholder="Type a message and hit enter..">
                                                <!--
                                                <a onclick="$(this).closest('form').submit();" href="#">
                                                    <div class="push-5"><i class="si si-envelope-letter fa-2x"></i></div>
                                                    <div class="h5 font-w300 text-muted">Send message</div>
                                                </a>
                                                -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/html" class="template messenger-log">
                                <% var messages = data.messages; %>
                                <% for (var i = 0; i < messages.length; i++) { %>
                                <% var isMyMessage = messages[i].userId.toString() === data.userId; %>
                                <% var userDateString = (isMyMessage ? 'me' : messages[i].userName) + ', ' + moment(messages[i].date).format('hh:mm A, DD MMM YYYY'); %>
                                <% var messageClass = isMyMessage ? 'bg-gray-light own-message' : 'bg-gray-lighter peer-message'; %>
                                <% var messageWrapClass = isMyMessage ? 'push-50-r' : 'push-50-l'; %>
                                <div class="font-s12 text-muted text-center push-20-t push-15"><em><%= userDateString
                                    %></em></div>
                                <div class="block block-rounded block-transparent push-15 <%= messageWrapClass %>">
                                    <div class="block-content block-content-full block-content-mini <%= messageClass %>">
                                        <%=
                                        messages[i].message %>
                                    </div>
                                </div>
                                <% } %>
                            </script>
                        </div>
                        <!-- END Messenger Dialog -->
                    </div>
                </section>
            </div>
        {% endif %}

        <div class="modal fade" id="initial-user-profile" role="dialog" user-id="{{ initial_user_profile }}">
            <div class="modal-dialog modal-dialog-popout">
                <div class="modal-content">
                    <div class="block spinner-holder">
                        <div class="block-content block-content-full text-center">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script type="text/javascript">
        FS.identify('{{ user.email }}', {
            displayName: '{{ user.first_name }} {{ user.last_name }}',
            email: '{{ user.email }}'
        });
    </script>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/custom-scripts/initial-user-profile.js' %}?v=0003"></script>
{% endblock %}