{% extends "base.html" %}
{% block content %}
            <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-primary-dark">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->
                        <div class="push-100-t push-50 text-center">
                            <h1 class="h2 text-white push-10 animated fadeInUp content-header"  data-toggle="appear" data-class="animated fadeInDown">Focus on relationships</h1>
                            <h2 class="h5 text-white-op animated fadeInUp content-description" data-toggle="appear" data-class="animated fadeInDown">Adding links to social sites like Facebook and Twitter increase your profile rating. We strongly recommend adding at least two sites to provide the best possible matches.</h2>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hero Content -->
                <div class="bg-gray-lighter">
                    <section class="content content-full content-boxed">
                {% include "includes/profile_form.html" %}
                    </section>
                </div>
            </main>
            <script type="text/javascript">
                FS.identify('{{ invite.user.email }}', {
                    displayName: '{{ invite.user.first_name }} {{ invite.user.last_name }}',
                    email: '{{ invite.user.email }}'
                });
            </script>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/custom-scripts/profile_form_validation.js?v=0002"></script>
{% endblock %}