{% extends "base.html" %}
{% block content %}
    <!-- Hero Content -->
<div class="bg-primary-dark">
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="push-100-t push-50 text-center">
            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Please tell us a little about your self.</h1>
            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Every little bit helps us find you a better roommate.</h2>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Hero Content -->
            <main id="main-container">
                <div class="bg-gray-lighter">
                    <section class="content content-full content-boxed">
                {% include "includes/social_form.html" %}
                    </section>
                </div>
            </main>
{% endblock %}