{% extends "base.html" %}
{% block content %}
    <main class="quiz-slide">
        <div class="progress">
            <div class="progress-bar progress-mini quiz-progress" role="progressbar"
                 aria-valuenow="{{ slide.position }}"
                 aria-valuemin="0" aria-valuemax="{{ question_count }}" style="width: {{ percent }}%">
                {#            <span class="sr-only">70% Complete</span>#}
            </div>
        </div>
        <img class="main-image" src="{{ slide.attributes.image_desktop }}" alt="">
        <h2 class="slide-caption">{{ slide.attributes.caption }}</h2>
        <form class="quiz-form" method="post">
            <div class="buttons">
                <button type="submit" value="True" class="btn-blue-button">Me</button>
                <button type="submit" value="False" class="btn-blue-button">Not Me</button>
            </div>
            <input type="hidden" name="slide_id" value="{{ slide.id }}"/>
            <input type="hidden" id="selection" name="selection" value="{{ slide.id }}"/>
            <input type="hidden" id="timer" name="timer" value=""/>
            {% csrf_token %}
        </form>

    </main>
{% endblock %}

{% block extra_js %}
    <script>
        var updateSize = function () {
            var height = window.innerHeight * 0.9;
            var width = window.innerWidth * 0.9;
            var img = $('img');
            if (height < width) {
                img.css('height', height + 'px');
                img.css('width', '100%');
            } else {
                img.css('width', width + 'px');
                img.css('height', '100%');
            }
        };
        $(window).on('resize', function () {
            updateSize();
        });
        updateSize();
    </script>
{% endblock %}