{% extends "base.html" %}
{% block content %}
            <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-primary-dark">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->
                        <div class="push-100-t push-50 text-center">
                            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Get to know us.</h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Meet our passionate team, one at a time.</h2>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hero Content -->

                <!-- Hiring -->
                <div class="bg-white">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->
                        <div class="push-20-t push-20 text-center">
                            {% if assessment.completed_at %}
                                <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Your Roommmate Matching Profile is Complete! </h3>
                                <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated bounceIn" href="{% url 'roommate_selection' %}">See Roommate Matches</a>
                            {% else %}
                                <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Would you like to be part of our team?</h3>
                                <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated bounceIn" href="{% url 'quiz_profile' %}">Get Started</a>
                            {% endif %}
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hiring -->

                <!-- Team -->
                <div class="bg-gray-lighter">
                    <section class="content content-boxed">
                        <!-- Section Content -->
                        <div class="push-50-t push-20">
                            <div class="row items-push-2x">
                                {% for peer in peer_invites %}
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">{{ peer.user.first_name }} {{ peer.user.last_name }}</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo15.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar12.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">Donald Barnes</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo3.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar10.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row items-push-2x">
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">Tiffany Kim</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo4.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar1.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">Eric Lawson</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo6.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar13.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">Helen Silva</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo7.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar4.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row items-push-2x">
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">Sara Holland</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo12.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar3.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">John Parker</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo8.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar16.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Dribbble"><i class="si si-social-dribbble"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">Judy Alvarez</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo9.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar5.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Team -->
            </main>
{% endblock %}