{% extends "base.html" %}
{% block content %}
            <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-primary-dark">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->
                        <div class="push-100-t push-50 text-center">
                            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Get to know us.</h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Meet our passionate team, one at a time.</h2>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hero Content -->

                <!-- Hiring -->
                <div class="bg-gray-lighter">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->

                        <div class="row push-20-t push-20 ">

                        <div class="col-lg-4">
                            <!-- Friends Widget -->
                            <div class="block block-bordered">
                                <div class="block-header">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">Accepted</h3>
                                </div>
                                <div class="block-content">
                                    <div class="pull-r-l pull-t push">
                                        <table class="block-table text-center bg-gray-lighter border-b">
                                            <tbody>
                                                <tr>
                                                    <td class="border-r" style="width: 50%;">
                                                        <div class="h1 font-w700">{{ approved_relationships|length }}</div>
                                                        <div class="h5 text-muted text-uppercase push-5-t">Approved</div>
                                                    </td>
                                                    <td>
                                                        <div class="push-30 push-30-t">
                                                            <i class="si si-users fa-3x text-black-op"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="nav-users push">
                                        {% for user in approved_relationships %}
                                        <li>
                                            <a href="base_pages_profile.html">
                                                <img class="img-avatar" src="/static/img/avatars/avatar8.jpg" alt="">
                                                <i class="fa fa-circle text-success"></i> {{ user.firstname }} {{ user.lastname }}
                                                <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- END Friends Widget -->
                        </div>
                            <div class="col-lg-4">
                            <!-- Friends Widget -->
                            <div class="block block-bordered">
                                <div class="block-header">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">Pending</h3>
                                </div>
                                <div class="block-content">
                                    <div class="pull-r-l pull-t push">
                                        <table class="block-table text-center bg-gray-lighter border-b">
                                            <tbody>
                                                <tr>
                                                    <td class="border-r" style="width: 50%;">
                                                        <div class="h1 font-w700">{{ pending_relationships|length }}</div>
                                                        <div class="h5 text-muted text-uppercase push-5-t">Requests</div>
                                                    </td>
                                                    <td>
                                                        <div class="push-30 push-30-t">
                                                            <i class="si si-users fa-3x text-black-op"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="nav-users push">
                                        {% for user in pending_relationships %}
                                        <li>
                                            <a href="base_pages_profile.html">
                                                <img class="img-avatar" src="/static/img/avatars/avatar8.jpg" alt="">
                                                {{ user.user.first_name }} {{ user.user.last_name }}
                                                <div class="font-w400 text-muted"><small>{{ user.personality_types.personality_blend.name }}</small></div>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- END Friends Widget -->
                        </div>
                        <div class="col-lg-4">
                            <a class="block block-link-hover2" href="javascript:void(0)">
                                <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo16.jpg');">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar4.jpg" alt="">
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <div class="font-w600 push-5">{{ request.session.user.first_name }} {{ user.last_name }}</div>
                                    <div class="text-muted">{{ user.personality_types.personality_blend.name }}</div>
                                </div>
                            </a>
                            <a class="block block-link-hover2" href="javascript:void(0)">
                                <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo16.jpg');">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar4.jpg" alt="">
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <div class="font-w600 push-5">Helen Silva</div>
                                    <div class="text-muted">Copywriter</div>
                                </div>
                            </a>
                            <a class="block block-link-hover2" href="javascript:void(0)">
                                <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo16.jpg');">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar4.jpg" alt="">
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <div class="font-w600 push-5">Helen Silva</div>
                                    <div class="text-muted">Copywriter</div>
                                </div>
                            </a>
                            <a class="block block-link-hover2" href="javascript:void(0)">
                                <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo16.jpg');">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar4.jpg" alt="">
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <div class="font-w600 push-5">Helen Silva</div>
                                    <div class="text-muted">Copywriter</div>
                                </div>
                            </a>
                        </div>
                    </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hiring -->

                <!-- Team -->
                <div class="bg-gray-light">
                    <section class="content content-boxed">
                        <!-- Section Content -->
                        <div class="push-50-t push-20">
                            {% for peer in matches %}
                                {% if forloop.counter|divisibleby:2 %}<div class="row items-push-2x">{% endif %}
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Twitter"><i class="si si-social-twitter"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" data-toggle="tooltip" title="Facebook"><i class="si si-social-facebook"></i></button>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">{{ peer.user.first_name }} {{ peer.user.last_name }}</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('/static/img/photos/photo15.jpg');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatars/avatar12.jpg" alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>{{ peer.personality_types.personality_blend.description }}</p>
                                            <div class="row items-push text-center">
                                                <div class="col-xs-4 border-r">
                                                    <form method="post">
                                                    {% csrf_token %}
                                                    <input name="end_user_id" type="hidden" value="{{ result.user.id }}">
                                                    <a onclick="javascript:submit()" href="">
                                                    <div class="push-5"><i class="si si-user-follow fa-2x"></i></div>
                                                    <div class="h5 font-w300 text-muted">Invite</div>
                                                    </a>
                                                    </form>
                                                </div>
                                                <div class="col-xs-4 border-r">
                                                    <div class="push-5"><i class="si si-info fa-2x"></i></div>
                                                    <div class="h5 font-w300 text-muted">Information</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="push-5"><i class="si si-envelope fa-2x"></i></div>
                                                    <div class="h5 font-w300 text-muted">Message</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:2 %}</div>{% endif %}
                            {% endfor %}
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Team -->
            </main>
{% endblock %}