{% for user in peers %}
    <div class="peer-block col-md-6" data-toggle="appear"
         data-class="animated {% if forloop.counter|divisibleby:2 %}slideInRight{% else %}slideInLeft{% endif %}">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    {% if user.profile.twitter_url %}
                        <li>
                            <a href="{{ user.profile.twitter_url }}" target="_blank" data-toggle="tooltip"
                               title="Twitter"><i class="si si-social-twitter"></i></a>
                        </li>
                    {% endif %}
                    {% if user.profile.facebook_url %}
                        <li>
                            <a href="{{ user.profile.facebook_url }}" target="_blank"><i class="si si-social-facebook"
                                                                                         data-toggle="tooltip"
                                                                                         title="Facebook"></i></a>
                        </li>
                    {% endif %}
                    {% if user.profile.pinterest_url %}
                        <li>
                            <a href="{{ user.profile.pinterest_url }}" target="_blank" data-toggle="tooltip"
                               title="Pinterest"><i class="fa fa-pinterest-p"></i></a>
                        </li>
                    {% endif %}
                    {% if user.profile.linkedin_url %}
                        <li>
                            <a href="{{ user.profile.linkedin_url }}" target="_blank" data-toggle="tooltip"
                               title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    {% endif %}
                    {% if user.profile.instagram_url %}
                        <li>
                            <a href="{{ user.profile.instagram_url }}" target="_blank" data-toggle="tooltip"
                               title="Instagram"><i class="fa fa-instagram"></i></a>
                        </li>
                    {% endif %}
                    {% if user.profile.snapchat_url %}
                        <li>
                            <a href="{{ user.profile.snapchat_url }}" target="_blank" data-toggle="tooltip"
                               title="Snapchat"><i class="si si-bell"></i></a>
                        </li>
                    {% endif %}
                    {% if user.profile.google_plus_url %}
                        <li>
                            <a href="{{ user.profile.google_plus_url }}" target="_blank" data-toggle="tooltip"
                               title="Google+"><i class="fa fa-google-plus"></i></a>
                        </li>
                    {% endif %}
                </ul>
                <h3 class="block-title peer-name" style="float: left; margin-right: 15px;">{{ user.full_name }} {% if user.invites.all.0.contract_type.occupied_places > 1 %}
                    <i class="si si-info" data-original-title=""
                       data-toggle="popover" title="" data-placement="top" data-content="This student has a contract for two beds and will count as two in your group."></i>
                {% endif %}</h3>

                <ul class="block-options block-options-left">
                    {% if user.groups.all.0.size|add:-1 %}
                        <li class="dropdown">
                            <button aria-expanded="false" type="button"
                                    data-toggle="dropdown">+{{ user.groups.all.0.size|add:-1 }} <span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Group members</li>
                                {% for member in user.groups.all.0.users.all %}
                                    {% if member.id != user.id %}
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#user-profile"
                                               data-href="/user-profile-ajax/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}
                                                {% if member.invites.all.0.contract_type.occupied_places > 1 %}
                                                    <i class="si si-info" data-original-title=""
                                                       data-toggle="popover" title="" data-placement="top"
                                                       data-content="This student has a contract for two beds and will count as two in your group.">
                                                    </i>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div
                    {% if user.profile.profile_image_bg %}
                        class="block-content block-content-full text-center bg-image"
                        style="background-image: url('{{ user.profile.profile_image_bg.url }}');"
                    {% elif user.profile.bg_url %}
                        class="block-content block-content-full text-center bg-image"
                        style="background-image: url('{{ user.profile.bg_url }}');"
                    {% else %}
                        class="block-content block-content-full text-center bg-primary-dark"
                    {% endif %}>
                <img class="img-avatar img-avatar96 img-avatar-thumb" src="
                        {% if user.profile.profile_image %}{{ user.profile.profile_image.url }}{% else %}/static/img/avatars/avatar12.jpg{% endif %}"
                     alt="">
            </div>
            {% if user.compatibility_score %}
                <div class="block-content block-content-full text-center">
                    <div class="progress progress-mini">
                        <div class="progress-bar {{ user.compatibility_style }}"
                             role="progressbar"
                             aria-valuenow="50"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{ user.compatibility_score }}%"></div>
                    </div>
                    <div class="text-center">Compatibility Score: {{ user.compatibility_score }}%</div>
                </div>
            {% endif %}
            <div class="block-content">
                <div class="row items-push text-center">
                    {% for attribute in user.profile.get_personality_types_json.personality_types|slice:"3" %}
                        <div class="col-sm-4"
                             data-placement="top"
                             data-content="{{ attribute.personality_type.description }}"
                             data-toggle="popover"
                             title="{{ attribute.personality_type.name }}">
                            <div class="push-5">{{ attribute.personality_type.name }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row items-push text-center">
                    <div class="col-xs-4 border-r">
                        {% if user.has_relation %}
                            <div class="push-5"><i class="si si-user-follow fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Invite</div>
                        {% else %}
                            <form method="post" action="">
                                {% csrf_token %}
                                <input name="end_user_id" type="hidden" value="{{ user.id }}">
                                <a class="invite-btn-submit" href="javascript:void(0);" user-name="{{ user.full_name }}">
                                    <div class="push-5"><i class="si si-user-follow fa-2x"></i></div>
                                    <div class="h5 font-w300 text-muted">Invite</div>
                                </a>
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-xs-4 border-r">
                        <a href="#" data-toggle="modal" data-target="#user-profile"
                           data-href="/user-profile-ajax/{{ user.id }}">
                            <div class="push-5"><i class="si si-info fa-2x"></i></div>
                        </a>
                        <div class="h5 font-w300 text-muted">More Details</div>
                    </div>
                    <div class="col-xs-4">
                        <a href="#"
                           data-href="{{ user.conversation_url }}"
                           data-dismiss="modal"
                           data-peer-id="{{ user.id }}"
                           data-toggle="modal"
                           data-target="#messenger">
                            <div class="push-5"><i class="si si-envelope fa-2x"></i></div>
                        </a>
                        <div class="h5 font-w300 text-muted">Message</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <div class="no-peers-found col-md-12" data-toggle="appear" data-class="animated fadeIn">
        <p>Looks like we're unable able to find any potential roommates.  Adjust your profile and filter settings to expand your search. If your proposed group is full you will first need to remove someone to search for others.</p>
    </div>
{% endfor %}
{% if peers and search_type == 'all' %}
<div id="paginator" style="text-align: center; clear: left;">
    <ul class="pagination">
        {% for page in total_pages %}
            <li class="paginate_button{% if page == current_page %} active{% endif %}"><a href="#all-roommates">{{ page }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<script>
    initInviteConfirm()
</script>
