<div class="block block-bordered">
    <div class="block-header bg-gray-lighter">
        <ul class="block-options">
            <li>
                <button data-original-title="Previous 15 Messages" class="js-tooltip user-messages-paginate-button"
                        title="" type="button" value="previous"
                        data-toggle="block-option"><i class="si si-arrow-left"></i></button>
            </li>
            <li>
                <button data-original-title="Next 15 Messages" class="js-tooltip user-messages-paginate-button" title=""
                        type="button" value="next"
                        data-toggle="block-option"><i class="si si-arrow-right"></i>
                </button>
            </li>
            <li>
                <button type="button" data-toggle="block-option" class="user-messages-paginate-button"
                        data-action="refresh_toggle" data-action-mode="demo" value="refresh"><i
                        class="si si-refresh"></i></button>
            </li>
            <li>
                <button type="button" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i
                        class="si si-size-fullscreen"></i></button>
            </li>
        </ul>
        <div>
            <h3 class="block-title">INBOX {{ start }} - {{ end }} from {{ paginator.count }}</h3>
        </div>
        <input id="user-messages-total-pages" type="hidden" value="{{ paginator.num_pages }}">
    </div>
    <div class="block-content">
        <div class="pull-r-l">
            <table class="js-table-checkable table table-hover table-vcenter">
                <tbody>
                {% for message in messages %}
                    <tr class="">
                        <!--<td>{% if message.unread %}<p><i class="fa fa-exclamation"></i></p>{% endif %}</td>-->
                        <td class="hidden-xs font-w600" style="width: 100px;">
                            <div class="h5 font-w300 text-muted"><a href="#" data-toggle="modal"
                                                                    data-target="#user-profile"
                                                                    data-href="/user-profile-ajax/{{ message.user.id }}">
                                {{ message.user.full_name }}
                            </a></div>
                        </td>
                        <td>
                            <div class="text-muted push-5-t" style="width: 100%; word-break: break-all;">
                                <a href="#"
                                   data-href="{% url 'user-conversation' message.conversation.conversation_uuid %}"
                                   data-dismiss="modal"
                                   data-peer-id="{{ message.user.id }}"
                                   data-toggle="modal"
                                   data-target="#messenger">{{ message.message|truncatechars:50 }}</a>
                            </div>
                        </td>
                        <td class="visible-lg text-muted" style="width: 110px;">
                            <em>{{ message.created_at }}</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>