<div class="block peer-block">
    <div class="block-header">
        <ul class="block-options">
            {% if peer.user.profile.twitter_url %}
                <li>
                    <a href="{{ peer.user.profile.twitter_url }}" target="_blank" data-toggle="tooltip" title="Twitter"><i
                            class="si si-social-twitter"></i></a>
                </li>
            {% endif %}
            {% if peer.user.profile.facebook_url %}
                <li>
                    <a href="{{ peer.user.profile.facebook_url }}" target="_blank" data-toggle="tooltip"
                       title="Facebook"><i class="si si-social-facebook"></i></a>
                </li>
            {% endif %}
            {% if peer.user.profile.pinterest_url %}
                <li>
                    <a href="{{ peer.user.profile.pinterest_url }}" target="_blank" data-toggle="tooltip"
                       title="Pinterest"><i class="fa fa-pinterest-p"></i></a>
                </li>
            {% endif %}
            {% if peer.user.profile.linkedin_url %}
                <li>
                    <a href="{{ peer.user.profile.linkedin_url }}" target="_blank" data-toggle="tooltip"
                       title="Linkedin"><i class="fa fa-linkedin"></i></a>
                </li>
            {% endif %}
            {% if peer.user.profile.instagram_url %}
                <li>
                    <a href="{{ peer.user.profile.instagram_url }}" target="_blank" data-toggle="tooltip"
                       title="Instagram"><i class="fa fa-instagram"></i></a>
                </li>
            {% endif %}
            {% if peer.user.profile.snapchat_url %}
                <li>
                    <a href="{{ peer.user.profile.snapchat_url }}" target="_blank" data-toggle="tooltip"
                       title="Snapchat"><i class="fa  fa-snapchat-ghost"></i></a>
                </li>
            {% endif %}
            {% if peer.user.profile.google_plus_url %}
                <li>
                    <a href="{{ peer.user.profile.google_plus_url }}" target="_blank" data-toggle="tooltip"
                       title="Google+"><i class="fa fa-google-plus"></i></a>
                </li>
            {% endif %}
            <li>
                <a href="#" data-dismiss="modal"><i class="si si-close"></i></a>
            </li>
        </ul>
        <h3 class="block-title">{{ peer.user.first_name }} {{ peer.user.last_name }}</h3>
    </div>
    <div {% if peer.user.profile.profile_image_bg %}
        class="block-content block-content-full text-center bg-image"
        style="background-image: url('{{ peer.user.profile.profile_image_bg.url }}');"
    {% elif peer.user.profile.bg_url %}
        class="block-content block-content-full text-center bg-image"
        style="background-image: url('{{ peer.user.profile.bg_url }}');"
    {% else %}
        class="block-content block-content-full text-center bg-primary-dark"
    {% endif %}>
        <img class="img-avatar img-avatar96 img-avatar-thumb" src="

                {% if peer.user.profile.profile_image %}{{ peer.user.profile.profile_image.url }}{% else %}/static/img/avatars/avatar12.jpg{% endif %}"
             alt="">
    </div>
    {% if peer.compatibility_score %}
        <div class="block-content block-content-full text-center">
            <div class="progress progress-mini">
                <div class="progress-bar {{ peer.compatibility_style }}"
                     role="progressbar"
                     aria-valuenow="50"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{ peer.compatibility_score }}%"></div>
            </div>
            <div class="text-center">Compatibility Score: {{ peer.compatibility_score }}%</div>
        </div>
    {% endif %}
    <div class="block-content">
        <div class="row items-push text-center">
            {% for attribute in peer.user.profile.get_personality_types_json.personality_types|slice:"3" %}
                <div class="col-sm-4"
                     data-placement="bottom"
                     data-content="{{ attribute.personality_type.description }}"
                     data-toggle="popover"
                     title="{{ attribute.personality_type.name }}">
                    <div class="push-5">{{ attribute.personality_type.name }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="row items-push text-center">
            <div class="col-xs-6 border-r">
                {% if peer.has_relation or not can_invite %}
                    <div {% if not can_invite %}title="This user assigned to another unit" data-toggle="tooltip" data-placement="top"{% endif %}>
                        <div class="push-5"><i class="si si-user-follow fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">Invite</div>
                    </div>
                {% else %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <input name="end_user_id" type="hidden" value="{{ peer.user.id }}">
                        <a class="invite-btn-submit" href="javascript:void(0);" user-name="{{ peer.user.full_name }}">
                            <div class="push-5"><i class="si si-user-follow fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Invite</div>
                        </a>
                    </form>
                {% endif %}
            </div>
            <div class="col-xs-6">
                <a href="#"
                   data-href="{{ peer.conversation_url }}"
                   data-dismiss="modal"
                   data-peer-id="{{ peer.user.id }}"
                   data-toggle="modal"
                   data-target="#messenger">
                    <div class="push-5"><i class="si si-envelope fa-2x"></i></div>
                    <div class="h5 font-w300 text-muted">Message</div>
                </a>
            </div>
        </div>
    </div>
    <div class="block-content block-content-full text-center">
        <div class="text-muted">{{ peer.user.profile.get_personality_types_json.personality_blend.name }}</div>
        <div class="text-left">{{ peer.user.profile.get_personality_types_json.personality_blend.description }}</div>
        <div class="block-content">
            <div class="row items-push text-center">
                {% for attribute in peer.user.profile.get_personality_types_json.personality_types|slice:"6" %}
                    <div class="col-xs-6 {% if not forloop.counter|divisibleby:"2" %}border-r{% endif %}"
                         data-placement="left"
                         data-content="{{ attribute.personality_type.description }}"
                         data-toggle="popover"
                         title="{{ attribute.personality_type.name }}">
                        <div class="push-5">{{ attribute.personality_type.name }}</div>
                        <div class="h5 font-w300 text-muted">{{ attribute.score | floatformat:"2" }}%</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if peer.user.profile.bio %}
        <div class="block-header">
            <h3 class="block-title">Bio</h3>
        </div>
        <div class="block-content block-content-full text-center">
            <div class="text-left">{{ peer.user.profile.bio }}</div>
        </div>
    {% endif %}
    {% if peer.user.profile.personality %}
        <div class="block-header">
            <h3 class="block-title">Personality</h3>
        </div>
        <div class="block-content block-content-full text-center">
            <div class="block-content">
                <div class="row items-push text-center">
                    {% for item1, item2 in peer.user.profile.personality %}
                        <div class="col-xs-12">
                            <table class="custom-table">
                                <colgroup>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-center font-w400 border-r">
                                        <div class="push-5">{{ item1.0 }}</div>
                                    </th>
                                    <th class="text-center font-w400">
                                        <div class="push-5">{{ item2.0 }}</div>
                                    </th>
                                </tr>
                                </thead>
                                <thead>
                                <tr>
                                    <td class="h5 font-w300 text-muted border-r">{{ item1.1 }}</td>
                                    <td class="h5 font-w300 text-muted">{{ item2.1 }}</td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% for personality_detail in peer.user.profile.get_personality_types_json.personality_blend.details %}
        {% if personality_detail.body %}
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">
                        {% if personality_detail.title == 'Complement' %}
                            <i class="fa fa-thumbs-o-up"></i> What brightens your day
                        {% elif personality_detail.title == 'Conflict' %}
                            <i class="fa fa-thumbs-o-down"></i>  What clouds your day
                        {% else %}
                            {{ personality_detail.title }}
                        {% endif %}
                    </h3>
                </div>
                <div class="block-content text-center">
                    <div class="text-left">{{ personality_detail.body }}</div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
    initInviteConfirm()
</script>
