<!-- Login Form -->
<!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
<!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
<form class="js-validation-login form-horizontal push-30-t" method="post">
    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-material form-material-primary floating">
                {% csrf_token %}
                <input class="form-control" type="text" id="login-code" name="code" {% if code %}value="{{ code }}"{% endif %}>
                <label for="login-quizcode">Invite Code</label>
            </div>
        </div>
        <div class="col-xs-12">
			<!-- TODO: Remove class 'hidden' on 'alert' block to show it -->
			<div class="alert alert-danger alert-dismissable {% if not code %}hidden{% endif %}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h3 class="font-w300 push-15">Error</h3>
				<p>
					Opps, invalid Invite Code!
				</p>
			</div>
		</div>
    </div>
</form>
<!-- END Login Form -->
