{% load extras %}
<div class="col-lg-12">
    <!-- Simple Wizard (.js-wizard-simple class is initialized in js/pages/base_forms_wizard.js) -->
    <!-- For more examples you can check out http://vadimg.com/twitter-bootstrap-wizard-example/ -->
    <div class="js-wizard-simple block">
        <!-- Step Tabs -->
        <ul class="nav nav-tabs nav-tabs-alt nav-justified">
            <li class="">
                <a id="step1-link" href="#simple-step1" data-toggle="tab" data-text1="Focus on relationships"
                   data-text2="Adding links to social sites like Facebook and Twitter increase your profile rating. We strongly recommend adding at least two sites to provide the best possible matches."
                   aria-expanded="false">1. Profile Settings</a>
            </li>
            <li class="">
                <a id="step2-link" href="#simple-step2" data-toggle="tab" data-text1="Tell us a little more about yourself"
                   data-text2="Answering a few short questions will help us to suggest potential roommates for you. On the next page you'll be shown few images. Simply answer 'me' if the image represents you and 'not me' if you don't identify with the image."
                   aria-expanded="false">2. Profile Questions</a>
            </li>
        </ul>
        <!-- END Step Tabs -->

        <!-- Form -->
        <form id="profile-form" class="js-validation-bootstrap form-horizontal" method="post">
            <!-- Steps Content -->
            <div class="block-content tab-content">

                <!-- Step 1 -->
                <div class="tab-pane fade push-30-t push-50" id="simple-step1">
                    <div class="form-group" id="personal-info" style="margin-bottom: 40px;">
                        {% for field in user_form %}
                            {% if invite.agreement_period.property.disable_email_resident and field.name == 'disable_emails' %}

                            {% elif invite.agreement_period.property.enable_co_educational_groups or field.name != 'allow_co_educational_groups' %}
                            <div class="col-xs-12 col-lg-6 form-field {% if field.field.widget|get_class_name == "CheckboxInput" %}push-20-t{% endif %}">
                                <div class="form-material">
                                    {% if field.field.widget|get_class_name == "CheckboxInput" %}
                                        <label for="{{ field.id_for_label }}"
                                               class="css-input switch switch-sm switch-primary">
                                            {{ field }}<span></span> {{ field.label }}
                                        </label>
                                    {% else %}
                                        {{ field }}
                                        {% if field.errors %}
                                            <span class="help-block">
                                        {{ field.help_text }}
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </span>
                                        {% endif %}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="form-group" id="social-networks">
                        {% for field in user_profile_form %}
                            <div class="col-xs-12 col-lg-6 form-field">
                                <div class="form-material">
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-block">
                                        {{ field.help_text }}
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </span>
                                    {% endif %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- More Social Networks -->
                    {% if invite.other_networks or invite.agreement_period.property.enable_social_network %}
                    <div class="form-group">
                        <div class="col-xs-12 col-lg-12 col-md-12">
                            <div class="form-material">
                                <label>Social networks</label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if invite.other_networks %}
                    <div class="form-group">
                        {% for social_network in invite.other_networks %}
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-material">
                                    <input name="network_name"
                                           type="hidden"
                                           value="{{ social_network.network_name }}"
                                           placeholder="Network Name"/>
                                    <input name="network_url"
                                           class="form-control"
                                           type="text"
                                           id="network_{{ forloop.counter0 }}"
                                           placeholder="Profile URL"
                                           value="{{ social_network.network_url | default:'' }}"/>
                                    <label for="network_{{ forloop.counter0 }}">{{ social_network.network_name }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                     {% if invite.agreement_period.property.enable_social_network %}
                    <div class="form-group" id="other-networks">
                        <div class="col-xs-12 col-lg-6 network-block">
                            <div class="form-material">
                                <input name="network_name"
                                       class="form-control"
                                       type="text"
                                       value=""
                                       placeholder="Network Name"/>
                                <input name="network_url"
                                       class="form-control"
                                       type="text"
                                       value=""
                                       placeholder="Profile URL"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-default push-5-r push-10 btn-add-more-networks" type="button"><i
                                    class="fa fa-plus"></i> Add More Networks
                            </button>
                        </div>
                    </div>
                    <!-- END More Social Networks -->
                    {% endif %}
                </div>
                <!-- END Step 1 -->

                <!-- Step 2 -->
                <div class="tab-pane fade push-30-t push-50" id="simple-step2">
                    <div class="form-group">
                        {% for question in questions %}
                            <div class="question-container">
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-material open">
                                    <select class="form-control {% if question.required %}required{% endif %}" requiredid="material-select2"
                                            name="question-{{ question.id }}" size="1">
                                        <option></option><!-- Empty value for demonstrating material select box -->
                                        {% for answer in question.answers %}
                                            <option value="answer-{{ answer.id }}"
                                                    {% if answer.id == question.user_answer %}
                                                        selected
                                                    {% endif %}
                                            >{{ answer.answer }}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="material-select2 control-label" for="question-{{ question.id }}">{{ question.question }}{% if question.required %}*{% endif %}</label>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                        <div class="col-xs-12">
                            <div class="form-material">
                                <textarea class="form-control" id="material-textarea-large2" name="bio"
                                          rows="8">{{ invite.user.profile.bio | default:'' }}</textarea>
                                <label for="material-textarea-large2">About You</label>
                                <div class="help-block text-right">What are Your interests? Do you like to Ski or
                                    Surf?
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Step 2 -->
                </div>
                <!-- END Steps Content -->

                {% csrf_token %}
                <!-- Steps Navigation -->
                <div class="block-content block-content-mini block-content-full border-t">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="wizard-prev btn btn-warning disabled" type="button"><i
                                    class="fa fa-arrow-circle-o-left"></i> Previous
                            </button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="wizard-next btn btn-success" type="button" style="display: inline-block;">
                                Next <i class="fa fa-arrow-circle-o-right"></i></button>
                            <button id="submit-btn" class="wizard-finish btn btn-primary" type="submit" style="display: none;"><i
                                    class="fa fa-check-circle-o"></i> Submit
                            </button>
                        </div>
                    </div>
                </div>
                <!-- END Steps Navigation -->
            </div>
        </form>
        <!-- END Form -->
    </div>
    <!-- END Simple Wizard -->
</div>
