{% if relationship.is_roommate == roommate_type %}
    <div class="block-options btn-group"
        style="margin-right: 10px;"
        data-original-title="This user proposed roommate relations"
        data-toggle="tooltip" data-placement="top">
            <button name="relation_type" value="D" type="submit"
                    data-toggle="block-option" class="btn btn-default set-roommate"
                    confirm-text="Are you sure that you want to accept {% if user.id == relationship.start_user.id %}{{ relationship.end_user.full_name }}{% else %}{{ relationship.start_user.full_name }}{% endif %} as roommate?"><i
                    class="si si-like"></i></button>
            <button name="relation_type" value="N" type="submit"
                    data-toggle="block-option" class="btn btn-default set-roommate"
                    confirm-text="Are you sure that you want to reject {% if user.id == relationship.start_user.id %}{{ relationship.end_user.full_name }}{% else %}{{ relationship.start_user.full_name }}{% endif %}s roommate proposal?"><i
                    class="si si-dislike"></i></button>
    </div>
{% elif property.enable_star_setting %}
    <input name="relation_type" type="hidden" value="{{ relation_type }}"/>
    <button class="btn btn-default set-roommate"
            style="margin-right: 10px;"
            data-original-title="{{ tooltip_title }}"
            data-toggle="tooltip" data-placement="top"
            name="set_roommate"
            value="true" type="submit"
            confirm-text="{{ confirm_text }}">
        {% if relationship.is_roommate == 'N' %}
            <i class="fa fa-star-o"></i>
        {% elif relationship.is_roommate == 'D' %}
            <i class="fa fa-star"></i>
        {% elif relationship.is_roommate == user_type %}
            <i class="fa fa-star-half-o"></i>
        {% endif %}
    </button>
{% endif %}