<form method="POST" action="{% url "invite_update" %}"
      style="float: right;" >
    {% csrf_token %}
    <input name="relation_ship_id" type="hidden"
           value="{{ relationship.id }}"/>
    <input name="set_roommate" type="hidden" value="true"/>
    {% if user.id == relationship.start_user.id %}
        {% include 'includes/roommate_relationship_form_partial.html' with user_type='S' roommate_type='E' property=property %}
    {% else %}
        {% include 'includes/roommate_relationship_form_partial.html' with user_type='E' roommate_type='S' property=property %}
    {% endif %}
</form>