<div class="col-md-12">
    <!-- Floating Labels -->
    <h2 class="content-heading">Social Setup</h2>
    <div class="block">
{#        <div class="block-header">#}
{#            <ul class="block-options">#}
{#                <li>#}
{#                    <button type="button"><i class="si si-settings"></i></button>#}
{#                </li>#}
{#            </ul>#}
{#            <h3 class="block-title">User Profile</h3>#}
{#        </div>#}
        <div class="block-content block-content-narrow">
            <form class="form-horizontal push-10-t" method="post" onsubmit="return false;">
                <div class="form-group">
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-material floating">
                            <input class="form-control" type="text" id="material-email2" name="material-email2">
                            <label for="material-email2">Facebook</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-material floating">
                            <input class="form-control" type="text" id="material-email2" name="material-email2">
                            <label for="material-email2">Twitter</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-material floating">
                            <input class="form-control" type="text" id="material-email2" name="material-ggogle_plus">
                            <label for="material-ggogle_plus">Google Plus</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-material floating">
                            <input class="form-control" type="text" id="material-linkedin" name="material-linkedin">
                            <label for="material-linkedin">LinkedIn</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-material floating">
                            <input class="form-control" type="text" id="material-pinterest" name="material-pinterest">
                            <label for="material-pinterest">Pinterest</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-lg-6">
                        <button class="btn btn-sm btn-primary" type="submit">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END Floating Labels -->
</div>